* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  color: #3b3b3b;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#c9c9c9));
  background: linear-gradient(#ffffff, #c9c9c9);
}

.container {
  background: url("../img/plant.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 35rem;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container header {
  width: 100%;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container header img {
  height: 6rem;
}

.container .content {
  margin-bottom: 100px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.container .content h1, .container .content span, .container .content hr, .container .content .buttons {
  z-index: 2;
}

.container .content h1 {
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: 2rem;
}

.container .content span {
  border-bottom: 1px solid grey;
  font-size: 1.2rem;
  font-weight: normal;
  margin: 0 auto 3rem auto;
  padding-bottom: 2rem;
  width: 50%;
}


.container .content nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.intro {
  max-width: 600px;
  margin-bottom: 15px;
  border-bottom: 1px solid grey;
  padding-bottom: 25px;
  margin: 0 auto;
}

.myPractice {
  font-size: 28px;
  font-family: 'Poppins', sans-serif;
  margin: 32px 0 20px 0;
}

.container .content nav a {
  padding: 1rem 2rem;
  margin: .5rem 2rem;
  outline: 2px solid #868585;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #005a00;
  transition: all 300ms;
}

.container .content nav a:hover {
  background: #868585;
  color: white;
}

.container .copyrightDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .copyrightDiv .copyright {
  position: absolute;
  bottom: .5rem;
  display: block;
  text-align: center;
}



@media screen and (max-width: 820px) {
  .container {
    padding: 2rem 2rem 8rem;
    background-size: calc(25rem + 20vw);
  }

  .container header img {
    height: 5rem;
  }
  .container .content {
    padding-bottom: 10rem;
  }
  .container .content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .container .content h1 strong {
    display: block;
  }
  .container .content span {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  .container .content nav a {
    font-size: 1.2rem;
    padding: .5rem 1.5rem;
  }
  .container .copyrightDiv .copyright {
    bottom: 4rem;
  }
}
