.signUp {
    display: flex;
    align-items: center;
    margin: 60px auto 140px auto;
}

.signUpForm {
    margin: 0 auto;
}

.signUpWrapper {
    max-width: 371px;
    display: flex;
    flex-direction: column;
}

.signUpTitle {

}

.signUpSubtitle {

}