.signUp {
    display: flex;
    align-items: center;
    margin: 60px auto 140px auto;
}

.signUpForm {
    margin: 0 auto;
}

.signUpTitle {
    font-size: 36px;
    font-weight: 500;
    font-family: Poppins, sans-serif;
    line-height: 30px;
    color: var(--standard-black);
}

.signUpSubtitle {
    font-size: 16px;
    font-family: Poppins, sans-serif;
    line-height: 24px;
    color: var(--standard-black);
    margin: 24px 0 48px 0;
}

.signUpForm {
    display: flex;
    flex-direction: column;
}

.signUpFormName {
    font-size: 16px;
    font-family: Poppins, sans-serif;
    line-height: 24px;
    color: var(--third-grey);
    padding: 6px 169px 6px 0;
    border-bottom: 1px solid var(--flashsales-slider-price);
    margin-bottom: 40px;
}

.signUpFormPhoneNumber {
    font-size: 16px;
    font-family: Poppins, sans-serif;
    line-height: 24px;
    color: var(--third-grey);
    padding: 6px 169px 6px 0;
    border-bottom: 1px solid var(--flashsales-slider-price);
    margin-bottom: 40px;
}

.signUpFormPassword {
    font-size: 16px;
    font-family: Poppins, sans-serif;
    line-height: 24px;
    color: var(--third-grey);
    padding: 6px 169px 6px 0;
    border-bottom: 1px solid var(--flashsales-slider-price);
}

.signUpFormName,
.signUpFormPhoneNumber,
.signUpFormPassword:focus {
    outline: none;
}


.signUpFormButton {
    font-size: 16px;
    font-family: Poppins, sans-serif;
    line-height: 24px;
    text-decoration: none;
    text-align: center;
    color: var(--standard-white);
    background-color: var(--red);
    padding: 16px 22px;
    border-radius: 4px;
    margin-top: 40px;
}