:root {
    --standard-white: #ffffff;
    --standard-black: #000000;
    --slightly-black: rgba(0, 0, 0, 0.3);
    --graphite: #363738;
    --gray: #f5f5f5;
    --beige: #fefaf1;
    --light-gray: #fafafa;
    --dark-gray: #7d8184;
    --red: #db4444;
    --lime: #00ff66;
    --light-violet: #a0dce0;
    --pale-red: #e07575;
    --header-border: #b3b3b3;
    --search-field-text: #7b7b7b;
    --slider-bullet: #7f7f7f;
    --flashsales-slider-price: #808080;
    --circle-button-envelope: #c1c1c1;
}