@import './colors.css';
@import './fonts.css';

.header {
  display: flex;
  justify-content: space-between;
}

.header__wrapper {
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.header-menu {
    max-width: 385px;
    display: flex;
    gap: 48px;
}

.header-menu > a {
  font-family: Poppins, sans-serif;
}