@import './colors.css';
@import './fonts.css';
@import './reset.css';

.header {
  border-bottom: 1px solid var(--header-border);
}

.header__wrapper {
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 16px 0;
  margin: 0 auto;
}

.header-menu {
    max-width: 385px;
    display: flex;
    gap: 48px;
}

.header-menu__logo {
  font-size: 24px;
  font-weight: bold;
  font-family: Poppins, sans-serif;
  background-image: linear-gradient(-21deg,black 55%,white 36%, black);
  background-clip: text;
  color: transparent;
  user-select: none;
}

.header-menu > a {
  font-family: Poppins, sans-serif;
}

.header-widgets {
  display: flex;
}

.header-widgets__search {
  max-width: 347px;
  display: inline-flex;
  align-items: center;
  background-color: var(--gray);
  padding: 0 12px 0 20px;
  border-radius: 4px;
}

.header-widgets__search-input {
  color: var(--search-field-text);
  background-color: var(--gray);
  padding: 11.5px 24px 11.5px 0;
}
.header-widgets__search-input:focus {
  outline: none;
}

.header-widgets__search-button {
  display: inline-flex;
}

.header-widgets__shopping {
  display: flex;
  align-items: center;
}

.header-widgets__shopping-favorites {
  margin: 0 16px 0 24px;
}

.header-widgets__shopping-favicon {
  max-width: 26px;
  height: 26px;
}

.jumbotron__wrapper {
  max-width: 1170px;
  display: flex;
  align-items: center;
  margin: 0 auto 0 auto;
}

.jumbotron__menu {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 40px 96px 0 0;
  border-right: 1px solid var(--header-border);
}

.jumbotron__menu-link {
  font-family: Poppins, sans-serif;
  text-decoration: none;
  white-space: nowrap;
  color: var(--standard-black);
}

.jumbotron__menu-link:hover {
  text-decoration: underline;
}

.swiper-wrapper {
  position: relative;
}

.swiper {
  width: 100%;
  max-width: 892px;
  height: 100%;
  max-height: 344px;
  margin: 40px 0 0 40px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  max-width: 892px;
  height: 100%;
  max-height: 344px;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: var(--slider-bullet);
}

.swiper-pagination-bullet-active {
  width: 14px;
  height: 14px;
  background-color: var(--red);
  border: 2px solid var(--standard-white);
}

.swiper-advertising {
  position: absolute;
  top: 100px;
  left: 104px;
  display: flex;
  flex-direction: column;
  z-index: 100;
  user-select: none;
}

.swiper-advertising__logo {
  display: flex;
  align-items: center;
  gap: 24px;
}

.swiper-advertising__model {
  font-family: Inter, sans-serif;
  line-height: 24px;
  color: var(--standard-white);
  margin-top: 8px;
}

.swiper-advertising__text {
  font-size: 48px;
  font-family: Inter, sans-serif;
  font-weight: 600;
  color: var(--standard-white);
  margin-top: 20px;
}

.flash-sales {
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.flash-sales__caption {
  display: flex;
  align-items: center;
  gap: 10px;
}

.flash-sales__caption-tab {
  width: 20px;
  height: 40px;
  background-color: var(--red);
  border-radius: 4px;
}

.flash-sales__caption-text {
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

.flash-sales__title {
  font-size: 36px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  color: var(--standard-black);
}