html, body {
    padding: 0;
    margin: 0;
}

.header {
    background-color: #d9c3ba;
    padding: 22px 25px;
}

a {
    text-decoration: none;
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    height: 100%;
    padding: 0 18px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    font-family: Calibri;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
}

li {
    list-style-type: none;
}

.header h1 {
    font-size: 65px;
    color: #ffffff;
    text-align: center;
    font-weight: normal;
    font-family: Calibri;
    text-transform: uppercase;
}

.about-me {
    position: relative;

    vertical-align: middle;
    height: 100%;
    padding: 0 18px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    font-family: Calibri;
}

.layouts {
    gap: 30px;
}

.layouts__item {
    width: 30%;
    height: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.layouts__item img {
    width: 100%;
}

.main {
    min-height: 55vh;
    background-color: #d9c3ba;   
}

.main h2 {
    text-align: center;
    font-size: 35px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    font-family: Calibri;
    margin-top: 0;
}

.description {
    max-width: 80%;
    font-size: 18px;
    font-family: Calibri;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
}

.footer {
    background-color: #d9c3ba;
    padding: 22px 25px;
    margin-top: 50px;
}

.footer ul {
    justify-content: center;
}

@media (max-width: 820px) {
    .layouts__item {
        width: 80%;
    }

    .layouts {
        flex-wrap: wrap;
    }

    ul {
        padding: 0;
    }
}