.ourProductsWrapper {
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.ourProductsDie {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ourProductsDieImage {
    width: 20px;
    height: 40px;
    background-color: var(--red);
    border-radius: 4px;
}

.ourProductsDieText {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: var(--red);
}