.promo-wrapper {
    background-color: #e6e3c4;
    display: flex;
    flex-direction: column;
}

.promo  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid #998431;
    border-bottom: 1px solid #998431;
}

.hr__up {
    margin: 0 0 80px 0;
}

.hr__bottom {
    margin-bottom: 30px;
}

.promo__props {
    width: 58%;
    margin: 0 auto 80px auto;
    padding: 60px 0;
}

.promo-text__example {
    display: flex;
    flex-direction: row;
   
    border-bottom: 1px solid #282828;
}

.promo-text__date {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #282828;
    padding: 12px;
    border-right: 1px solid #282828;
}

.promo-text__name :first-child{
    font-size: 18px;
    font-family: Calibri;
    font-weight: 800;
    line-height: 150%;
    color: #282828;
}

.promo-text__name {
    padding-bottom: 12px;
}

.promo-text__description {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 22px;
}

.promo-text__title {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #000000;
}

.promo-text__harvest {
    max-width: 282px;
    font-size: 36px;
    line-height: 150%;
    color: #282828;
    margin: 30px 0 25px 0;
}

.hor__line {
    width: 160px;
    height: 1px;
    background-color: #282828;
}

.promo-text__story {
    max-width: 360px;
    font-size: 16px;
    font-family: Calibri;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    color: #282828;
    margin: 30px 0;
    }

.promo-gallery {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.promo-gallery__glas, 
.promo-gallery__shelve {
    display: flex;
    width: fit-content;
    height: auto;
    
}

.promo-gallery__shelves {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img {
    width: 100%;
}

.promo-text__details {
    max-width: 254px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #998431;
    text-align: center;
}

.promo-text__link {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    padding: 14px 0;
}