.header {
    border-bottom: 1px solid var(--header-border);
  }
  
  .headerWrapper {
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 16px 0;
    margin: 0 auto;
  }
    
  .headerMenuLogo {
    font-size: 24px;
    font-weight: bold;
    font-family: Poppins, sans-serif;
    background-image: linear-gradient(-21deg,black 55%,white 36%, black);
    background-clip: text;
    color: transparent;
    user-select: none;
  }