:root {
    --white: #ffffff;
    --grey: #899d9d;
    --background: #1d2f30;
    --bg-shadow: #0B1919;
    --green-text: #506829;
    --primary-green: #bae249;
    --green-hover: #91ac46;
    --green-focus: #83a440;
    --green-active: #688b05;
    --lime-light: #bae249;
}