@import "colors.css";

*,
:root,
body {
  margin: 0;
  padding: 0;
}

body {
  user-select: none;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--background);
}

.menu {
  display: none;
}

.burger-checkbox {
  position: absolute;
  visibility: hidden;
}

.burger {
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
  margin: 4px 0 0 4px;
}

.burger::before,
.burger::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #000;
}
.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #000;
  transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}
.burger::after {
  bottom: 0;
  transition: bottom .3s .15s, transform .3s;
}
.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0,0,0,0);
  transition: box-shadow .15s, top .3s, transform .3s .15s;
}
.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom .3s, transform .3s .15s;
}

.menu {
  width: 100%;
}

.menu-list {
  top: 0;
  left: 0;
  position: absolute;
  display: grid;
  gap: 12px;
  padding: 42px 0;
  margin: 0;
  background: orange;
  list-style-type: none;
  filter: opacity(0);
  transition: .3s;
  height: 38.8vh;
  width: 100%;
}

.menu-list-show {
  top: 0;
  left: 0;
  position: absolute;
  display: grid;
  gap: 12px;
  padding: 42px 0;
  margin: 0;
  background: orange;
  list-style-type: none;
  filter: opacity(100);
  transition: .3s;
}

.menu-item {
  display: block;
  font-size: 18px;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  color: var(--white);
  text-align: center;
  text-decoration: none;
  padding: 8px;
}

.menu-item:hover {
  color: var(--primary-green);
  background-color: var(--white);
}

.menu-item:active {
  color: var(--green-active);
}

.burger-checkbox:checked ~ .menu-list {
  filter: opacity(100);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container_props {
  width: 85%;
  margin: 0 auto;
  padding: 20px 0;
}

.header__logo {
  width: fit-content;
}

.header__links {
  display: flex;
  flex-wrap: wrap;
  gap: 57px;
}

.header__link:link {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  font-family: Open Sans, sans-serif;
  text-decoration: none;
  color: var(--white);
  padding: 1px 7px;
  border: 1px solid transparent;
}

.header__link:visited {
  color: var(--green-active);
  transition: 0.6s;
  border: 1px solid none;
}

.header__link:hover {
  color: var(--primary-green);
  transition: 0.6s;
  border: 1px solid none;
}

.header__link:active {
  color: var(--white);
  transition: 0.6s;
  border: 1px solid var(--green-focus);
}

.header__extra {
  display: flex;
  gap: 64px;
}

.header__extra-item {
  display: inline-block;
}

.header__extra-link svg:hover {
  fill: var(--green-hover);
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url(../images/bg/1_1.jpg);
  background-size: cover;
  height: auto;
}

.jumbotron-container_props {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 115px 0;
}

.jumbotron__title {
  max-width: 700px;
  font-size: 60px;
  font-weight: 700;
  color: var(--white);
}

.jumbotron__description {
  max-width: 500px;
  font-size: 16px;
  font-weight: 400;
  font-family: Calibri;
  color: var(--white);
  margin: 16px 0 24px 0;
}

.jumbotron__nav {
  display: block;
  font-size: 16px;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.jumbotron__link {
  color: var(--primary-green); 
}

.jumbotron__link .jumbotron__arrow svg path {
  fill: var(--primary-green); 
}

.jumbotron__link:hover {
  color: var(--green-hover); 
}

.jumbotron__link:hover .jumbotron__arrow svg path {
  fill: var(--green-hover); 
}

.jumbotron__link:active {
  color: var(--green-active); 
}

.jumbotron__link:active .jumbotron__arrow svg path {
  fill: var(--green-active);
}

.jumbotron__arrow {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  margin-top: 3px;
}

.cards {
  background-color: var(--background);
}

.cards-container {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 63px;
  margin: 0 auto;
}

.cards-container_props {
  display: flex;
  align-self: center;
}

.cards__item {
  max-width: 255px;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  border: 1px solid var(--bg-shadow);
}

.cards__text {
  font-size: 24px;
  font-family: Calibri, sans-serif;
  font-weight: 700;
  color: var(--white);
  margin: 16px 16px 0 16px;
}

.cards__text p {
  font-size: 16px;
  font-family: Open-Sans, sans-serif;
  font-weight: 400;
  color: var(--grey);
  line-height: 24px;
  margin: 8px 0 16px 0;
}

.cards__img {
  background-color: var(--bg-shadow);
  padding: 30px 16px;
}

.cards__button {
  max-width: 145px;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  font-family: Calibri;
  line-height: 21px;
  color: var(--primary-green);
  text-decoration: none;
  text-align: center;
  margin: auto 0 24px 16px;
  padding: 11px 10px;
  border: 1px solid var(--primary-green);
}

.cards__button:hover {
  color: var(--bg-shadow);
  background-color: var(--primary-green);
  transition: 0.4s;
}

.cards__button:active {
  color: var(--bg-shadow);
  background-color: var(--green-active);
  transition: 0.4s;
}

.cards__button:disabled {
  color: var(--grey);
  background-color: var(--grey);
  transition: 0.4s;
}

.main {
  height: auto;
  background-color: var(--background);
}

.main-box {
    display: flex;
    flex-direction: column;
}

.main-box__content {
  display: flex;
}

.main-box__content img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
}

.main__title {
  max-width: 410px;
  font-size: 48px;
  font-style: italic;
  font-weight: 700;
  color: var(--white);
  padding-top: 108px;
  margin-bottom: 33px;
}

.main-box_props {
  width: 75%;
  margin: 0 auto;
  justify-content: space-between;
}

.main-box__content {
  width: 100%;
  height: fit-content;
  gap: 15px;
  padding-bottom: 65px;
}

.main-box__description {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-box__description,
.main-box__title,
.main-box__text,
.main-box__link {
  background-color: var(--primary-green);
}

.main-box__title {
  font-size: 24px;
  font-family: Calibri;
  line-height: 36px;
  color: var(--bg-shadow);
  padding: 18px 0 6px 16px;
}

.main-box__text {
  font-size: 16px;
  font-family: Open Sans, sans-serif;
  line-height: 24px;
  color: var(--green-text);
  padding: 0 16px 0 16px;
}

.main-box__text p {
  margin-top: 25px;
}

.main-box__link-arrow {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  margin-top: 3px;
}

.main-box__content:nth-child(5) {
  background-color: var(--lime-light);
}

.main-box__link {
  width: -webkit-fill-available;
  display: inline-block;
  font-size: 16px;
  font-family: Open Sans;
  font-weight: 700;
  color: var(--bg-shadow);
  text-decoration: none;
  line-height: 21px;
  padding: 74px 0 22px 16px;
  margin-top: auto;
}

.feedback {
  display: flex;
  align-items: center;
  background-image: url("../images/bg/1_1.jpg");
  background-size: cover;
}

.feedback-container_props {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 60px 0;
}

.feedback__text-title {
  font-size: 48px;
  font-style: italic;
  font-weight: 700;
  line-height: 48px;
  color: var(--white);
}

.feedback__text-description {
  max-width: 780px;
  display: inline-block;
  font-size: 16px;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: var(--white);
  margin: 19px 0 24px 0;
}

.feedback__name {
   max-width: 200px;
   height: auto;
   border: none;
   padding: 11px 161px 11px 0; 
}

.feedback__mail {
   max-width: 200px;
   height: auto;
   border: none; 
   padding: 11px 178px 11px 0; 
   margin-bottom: 24px; 
}

.feedback__name {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--grey);
    padding-left: 16px;
}

.feedback__mail {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--grey);
}

.feedback__name, 
.feedback__mail::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--grey);
    padding-left: 16px;
}

.feedback-form p {
    margin-top: 24px;
}

.feedback__link {
    font-size: 16px;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    background-color: var(--primary-green);
    line-height: 21px;
    border: none;
    padding: 11px 26px;
    cursor: pointer;
}

.footer {
  background-color: var(--background);
  height: fit-content;
}

.footer-container_props {
  display: flex;
  justify-content: center;
}

.footer__social {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--bg-shadow);
  padding: 18px 0 18px 0;
  gap: 30px;
  margin: 0 auto;
}

.footer__owner {
  font-size: 12px;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  color: var(--grey);
  padding: 3px 0;
  text-align: center;
}

.footer__social-item span svg :hover {
  fill: var(--green-focus);
  transition: 0.2s;
}

.footer__social-item span svg :active {
  fill: var(--green-active);
  transition: 0.2s;
}

@media (max-width: 930px) {
  .menu {
    display: block;
    position: absolute;
    top: 69px;
  }
}

@media (max-width: 1500px) {
  .main-box__content {
    flex-direction: column;
  }
}

@media (max-width: 930px) {
  .header__links {
    display: none;
  }
  .jumbotron__title {
    font-size: 48px;
  }
}

@media (max-width: 726px) {
  .cards__item:nth-child(n + 2) {
    display: none;
  }
  .cards__item {
    max-width: max-content;
  }
}

@media (max-width: 550px) {
  .header__links {
    display: none;
  }
  .jumbotron__description {
    display: none;
  }

  .jumbotron-container_props {
    padding: 69px 0 30px 0;
  }

  .jumbotron__nav {
    margin-top: 30px;
  }
  .cards-container {
    justify-content: center;
  }
  .feedback {
    display: none;
  }
}