.advertisement {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--main);
    padding: 0 0 0 200px;
}

.advertisement__image {
    flex: 1;
    overflow: hidden;
}

.advertisement-general {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1.3;
}

.advertisement-general__title {
    max-width: 400px;
    font-size: 66px;
    font-family: Calibri;
    font-weight: 800;
    line-height: 76px;
    color: var(--dark-blut);
}

.advertisement-general__phrase {
    font-size: 16px;
    font-family: Calibri;
    font-weight: 600;
    line-height: 24px;
    color: var(--dark-grey);
}

.advertisement-general__links {
    margin-top: 37px;
}

.advertisement-general__link {
    font-size: 14px;
    font-weight: 400;
    color: #446989;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.advertisement__image {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-image: url("../img/advertisement-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
}

