.comments__cite {
    font-size: 50px;
    font-family: Calibri;
    font-weight: 700;
    line-height: 64px;
    color: var(--bold-title);
    text-align: center;
    margin: 90px 0 31px 0;
}

.comments__author-name {
    font-size: 21px;
    font-family: Calibri;
    font-weight: 700;
    line-height: 31px;
    color: var(--bold-title);
    text-align: center;
}

.comments__ref {
    font-size: 16px;
    font-family: Calibri;
    font-weight: 400;
    line-height: 24px;
    color: var(--lime);
    text-align: center;
    margin-bottom: 54px;
}

.comments-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 29px;
}

.comments-cards_main_props {
    display: flex;
    margin: 0 auto 150px auto;
}

.comments-card {
    max-width: 458px;
    background-color: var(--lime-light);
    padding: 58px 33px 54px 69px;
    border: 3px solid var(--herbal);
}

.comments__author {
    max-width: 240px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 26px;
}

.comments__personal-name {
    font-size: 18px;
    font-family: Calibri;
    font-weight: 600;
    line-height: 24px;
    color: var(--dark-blut);
}

.comments__personal-position {
    font-size: 15px;
    font-family: Calibri;
    font-weight: 400;
    line-height: 21px;
    color: var(--subtitle);
}

.comments__text {
    width: 260px;
    font-size: 16px;
    font-family: Calibri;
    font-weight: 600;
    line-height: 24px;
    color: var(--lime);
    margin-top: 33px;
}