@import "../styles/colors.css";
@import "../styles/fonts.css";

* {
    padding: 0;
    margin: 0;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
ul li {
    list-style-type: none;
}

a,
a:hover {
    text-decoration: none;
}

.hero {
    background: url("../assets/img/hero-bg.webp") top center/cover no-repeat;
}

.header-wrapper {
    max-width: 1145px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 21px 0;
    margin: 0 auto;
}

.header__logo {
    font-size: 35px;
    font-weight: normal;
    font-family: Clicker Script, sans-serif;
    color: var(--basiс-white);
}

.header__links {
    display: flex;
    gap: 60px;
}

.header__link {
    display: inline-flex;
    font-size: 16px;
    font-weight: 400;
    font-family: Cambria, sans-serif;
    color: var(--basiс-white);
}

.header-signing__signin-link {
    font-size: 16px;
    font-weight: 400;
    font-family: Cambria, sans-serif;
    color: var(--basiс-white);
}

.header-signing__signup-button {
    font-size: 16px;
    font-weight: 400;
    font-family: PlayfairDisplay Regular, sans-serif;
    color: var(--alternative-black);
    background-color: var(--saturated-yellow);
    padding: 12.5px 23.6px;
    border-radius: 24px;
    margin-left: 35px;
    border: 1px solid var(--saturated-yellow);
}
.header-signing__signup-button:hover {
    color: var(--saturated-yellow);
    background-color: transparent;
    border-color: var(--saturated-yellow);
}

.jumbotron-wrapper {
    max-width: 1145px;
    padding: 145px 0 195px 0;
    margin: 0 auto;
}

.jumbotron__initial-phrase {
    font-size: 22px;
    font-weight: 400;
    font-family: PlayfairDisplay Regular, sans-serif;
    color: var(--basiс-white);
}

.jumbotron__logo {
    font-size: 220px;
    font-weight: normal;
    font-family: Clicker Script, sans-serif;
    color: var(--basiс-white);
}

.jumbotron__description {
    max-width: 527px;
    font-size: 20px;
    font-weight: normal;
    font-family: PlayfairDisplay Regular, sans-serif;
    line-height: 34px;
    color: var(--basiс-white);
    margin-bottom: 40px;
}

.jumbotron__button {
    font-size: 16px;
    font-weight: bold;
    font-family: PlayfairDisplay Regular, sans-serif;
    color: var(--alternative-black);
    background-color: var(--saturated-yellow);
    padding: 12.5px 26.6px;
    border: 1px solid var(--saturated-yellow);
    border-radius: 24px;
}
.jumbotron__button:hover {
    color: var(--saturated-yellow);
    background-color: transparent;
}

.discover {
    margin-bottom: 200px;
}

.discover-wrapper {
    max-width: 1145px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px auto 0 auto;
}

.discover-detailed__title {
    font-size: 54px;
    font-weight: bold;
    font-family: PlayfairDisplay Regular, sans-serif;
    color: var(--coffee);
}
.discover-detailed__description {
    position: relative;
    max-width: 585px;
    font-size: 20px;
    font-weight: normal;
    font-family: PlayfairDisplay Regular, sans-serif;
    line-height: 34px;
    color: var(--asphalt);
    margin: 49px 0;
}

.discover-detailed__description::before {
    position: absolute;
    top: 180px;
    left: -380px;
    content: "";
    display: inline-flex;
    width: 600px;
    height: 320px;
    background: url("/src/assets/img/coffee_blast.webp") center / cover
        no-repeat;
    z-index: 1;
}

.discover-detailed__button {
    display: inline-flex;
    font-size: 16px;
    font-weight: bold;
    font-family: PlayfairDisplay Regular, sans-serif;
    color: var(--alternative-black);
    background-color: var(--saturated-yellow);
    padding: 12.5px 26.6px;
    border: 1px solid var(--saturated-yellow);
    border-radius: 24px;
}

.blend-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 80px auto;
}

.blend__title {
    font-size: 54px;
    font-weight: bold;
    font-family: PlayfairDisplay Regular, sans-serif;
    color: var(--coffee);
}

.blend__subtitle {
    font-size: 20px;
    font-weight: normal;
    font-family: PlayfairDisplay Regular, sans-serif;
    color: var(--asphalt);
    margin: 16px 0 32px 0;
}

.blend-cards {
    display: flex;
    gap: 20px;
}

.blend-card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--card-body);
}

.blend-card__image {
    display: inline-flex;
}

.blend-card__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--card-body);
    border: 1px solid var(--card-body-stroke);
    margin-top: -4px;
}

.blend-card__title {
    font-size: 22px;
    font-weight: bold;
    font-family: PlayfairDisplay Regular, sans-serif;
    color: var(--coffee);
    margin-top: 14px;
}

.blend-card__proportions {
    font-size: 16px;
    font-weight: normal;
    font-family: PlayfairDisplay Regular, sans-serif;
    color: var(--alternative-black);
    margin: 6px 0;
}

.blend-card__price {
    font-size: 18px;
    font-weight: bold;
    font-family: PlayfairDisplay Regular, sans-serif;
    color: var(--coffee);
    margin-bottom: 43px;
}

.blend-card__orderButton {
    position: absolute;
    display: inline-flex;
    font-size: 16px;
    font-weight: bold;
    font-family: PlayfairDisplay Regular, sans-serif;
    color: var(--alternative-black);
    background-color: var(--saturated-yellow);
    padding: 12.5px 26.6px;
    border: 1px solid var(--saturated-yellow);
    border-radius: 24px;
    bottom: -24px;
}

.why-different-wrapper {
    position: relative;
    max-width: 2128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 105px auto 82px auto;
}

.why-different-wrapper::before {
    content: "";
    display: inline-flex;
    position: absolute;
    top: -140px;
    right: 0;
    width: 478px;
    height: 261px;
    background: url("../assets/img/coffee_blast.webp") center/ cover no-repeat;
    transform: scaleX(-1);
}   

.why-different__title {
    font-size: 54px;
    font-weight: bold;
    font-family: PlayfairDisplay Regular, sans-serif;
    color: var(--coffee);
}

.why-different__subtitle {
    font-size: 20px;
    font-weight: normal;
    font-family: PlayfairDisplay Regular, sans-serif;
    color: var(--asphalt);
    margin: 16px 0 32px 0;
}

.why-different-advantages {
    max-width: 1200px;
    display: flex;
    gap: 20px;
}

.why-different-advantage {
    width: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--card-body);
    padding: 36px 0;
    border: 1px solid var(--card-body-stroke);
}
 
.why-different-advantage:hover {
    background-color: var(--card-body-hovered);
}

.why-different-advantage__title {
    font-size: 28px;
    font-weight: bold;
    font-family: PlayfairDisplay Regular, sans-serif;
    color: var(--coffee);
    white-space: nowrap;
    padding: 19px 49px 8px 49px;
}

.why-different-advantage__description {
    max-width: 192px;
    font-size: 20px;
    font-weight: normal;
    font-family: PlayfairDisplay Regular, sans-serif;
    color: var(--asphalt);
}

.why-different-afterwords-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 32px auto 0 auto;
}

.why-different-afterwords__slogan {
    font-size: 20px;
    font-weight: normal;
    font-family: PlayfairDisplay Regular, sans-serif;
    color: var(--asphalt);
}

.why-different-afterwords__appeal {
    font-size: 30px;
    font-weight: bold;
    font-family: PlayfairDisplay Regular, sans-serif;
    color: var(--coffee);
    margin-top: 9px;
}

.why-different-afterwords__button {
    display: inline-flex;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    font-family: PlayfairDisplay Regular, sans-serif;
    color: var(--alternative-black);
    background-color: var(--saturated-yellow);
    padding: 12.5px 41.3px;
    border-radius: 24px;
    border: 1px solid var(--saturated-yellow);
    margin-top: 24px;
}

.amazing-morning {
    background: url("../assets/img/amazing-morning-bg.webp") center / cover no-repeat;
}

.amazing-morning-wrapper {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 54px 0 53px 0;
    margin-inline: auto;
}

.amazing-morning-detailed__title {
    max-width: 575px;
    font-size: 54px;
    font-weight: bold;
    font-family: PlayfairDisplay Regular, sans-serif;
    color: var(--basiс-white);
}

.amazing-morning-detailed__subtitle {
    max-width: 409px;
    font-size: 20px;
    font-weight: normal;
    font-family: PlayfairDisplay Regular, sans-serif;
    line-height: 34px;
    color: var(--basiс-white);
    margin: 22px 0;
}

.amazing-morning-detailed__button {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-family: PlayfairDisplay Regular, sans-serif;
    color: var(--alternative-black);
    background-color: var(--saturated-yellow);
    padding: 12.5px 26.6px;
    border-radius: 24px;
    border: 1px solid var(--saturated-yellow);
}

.feedback-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 82px auto 138px auto;
}

.feedback__title {
    font-size: 54px;
    font-weight: bold;
    font-family: PlayfairDisplay Regular, sans-serif;
    color: var(--coffee);
}

.feedback__subtitle {
    font-size: 20px;
    font-weight: normal;
    font-family: PlayfairDisplay Regular, sans-serif;
    color: var(--asphalt);
    margin: 16px 0 45px 0;
}

.feedback-body {
    position: relative;
    max-width: 980px;
    background-color: var(--card-body);
    border: 1px solid var(--card-body-stroke);
    margin: 0 auto;
}

.feedback-body__avatar {
    position: absolute;
    bottom: -52px;
    left: 43%;
    right: 50%;
    display: block;
    max-width: 112px;
    max-height: 112px;
}

.feedback-body__quote {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    font-family: PlayfairDisplay Regular, sans-serif;
    color: var(--asphalt);
    text-align: center;
    line-height: 36px;
    padding: 129px 100px 0 100px;
}

.feedback-body__quote-sign {
    position: absolute;
    left: 33px;
    font-size: 200px;
    font-weight: bold;
    color: var(--coffee);
}

.feedback-body__author {
    text-align: center;
    margin: 33px auto 101px auto;
}

.feedback-body__author-name {
    font-size: 32px;
    font-weight: bold;
    font-family: PlayfairDisplay Regular, sans-serif;
    color: var(--coffee);
    margin-bottom: 4px;
}
.feedback-body__author-post {
    font-size: 20px;
    font-weight: normal;
    font-family: PlayfairDisplay Regular, sans-serif;
    color: var(--asphalt);
    line-height: 34px;
    margin-bottom: 4px;
}