.infolink {
    max-width: 220px;
    display: inline-block;
    flex-direction: column;
    font-size: 16px;
    font-weight: 600;
    font-family: Open Sans, sans-serif;
    color: #161c24;
    padding: 12px 76px;
    border: 1px solid #454f5b;
    margin-top: 16px;
}

.infolink__item {
    display: inline-block;
}