:root {
--color-iron: #55565a;
--bg-white: #ffffff;
--dark-dune: #d5c9be;
--oceanic: #405d65;
--black-main: #222222;
--alternative-black: #282829;
--dark-blue: #38535d;
--pale-brown: #d5c9be;
--alternative-gray: #d6d6d6;
}