@import './colors.css';
@import './reset.css';


.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--black-main);
}

.hero-image {
    width: 100%;
    max-width: 894px;
    display: flex;
    justify-content: end;
    margin: -128px 0 0 auto;
}

.hero-image__wrapper {
    display: flex;
    justify-content: flex-end;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1300;
}

.header__wrapper {
    max-width: 1620px;
    display: flex;
    align-items: center;
    padding: 35px 0;
    align-self: self-start;
    margin-left: clamp(20px, 15vw, 161px);
}

.header__logo {
    font-size: 36px;
    color: var(--bg-white);
}

.header__links {
    display: flex;
    gap: 29px;
    margin-left: clamp(60px, 10.67vw, 205px);
}

.header__links-item {
    font-family: Arial, sans-serif;
    color: var(--bg-white);
}

.promo {
    position: absolute;
    top: 35%;
    margin-left: clamp(20px, 16vw, 161px);
}

.promo__title {
    font-size: clamp(22px, 4.28vw, 80px);
    color: var(--bg-white);
}

.promo__subtitle {
    max-width: 497px;
    font-size: clamp(19px, 2.65vw, 50px);
    color: var(--bg-white);
    margin: 20px 0 40px 0;
}

.promo__achievements {
    max-width: 330px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.promo__achievement {
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: clamp(18px, 1.29vw, 24px);
    color: var(--bg-white);
    background-color: var(--alternative-black);
    padding-right: 15px;
    border-radius: 5px;
}
.promo__achievement-amount {
    font-size: clamp(20px, 2.4vw, 40px);
    color: var(--bg-white);
    margin-right: 15px;
}

.promo__button {
    display: inline-flex;
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    color: var(--black-main);
    background-color: var(--bg-white);
    padding: 21px 52.2px;
    border-radius: 4px;
    margin-top: 40px;
}

.about-us {
    background-color: var(--alternative-black);
}

.about-us__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.about-us__image {
    max-width: 600px;
}

.about-us__image img {
    width: 100%;
    aspect-ratio: 1;
}

.about-us__text {
    max-width: 560px;
    padding: 33px 0 60px 0;
    margin: 0 53px;
}

.about-us__text-item {
    font-size: 24px;
    font-family: Arial, sans-serif;
    color: var(--bg-white);
}

.horizontal-line {
    width: 100%;
    max-width: 614px;
    height: 1px;
    background-color: var(--color-iron);
    margin: 30px 0;
}

.about-us__button {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: var(--alternative-black);
    background-color: var(--bg-white);
    padding: 8px 18px;
    margin-top: 80px;
}

.feedback__wrapper {
    max-width: 1600px;
    display: flex;
    margin: 0 auto;
}

.feedback-form__body {
    
}