:root {
  --dark-pink-color: #ff7474;
  --orange-color: #f17228;
  --black-color: #424242;
  --prime-color: #827e7e;
  --new-black-color: #434343;
  --other-black-color: #504f4f;
  --ordinary-black-color: #212121;
  --details-title-black: #353535;
  --saturated-yellow: #ff8a00;
  --else-yellow: #fac587bd;
  --white-color: #ffffff;
  --gold-color: #ffb30e;
  --promo-delivery-color: #f172281a;
  --dark-grey: #757575;
  --grey-color: #cfcfcf;
  --saturated-orange: #f96221;
  --border-grey-color: #eeeeee;
  --input-placeholder-color: #9e9e9e;
  --hot-discounts-color: #f1722840;
  --background-grass-color: rgba(121, 185, 60, 0.2);
  --text-grass-color: #79B93C;
  --faded-yellow: #fefaf1;
  --slider-button-color: #faaa01;
  --advantages-color: #feefd0;
  --red-orange-gradient: linear-gradient(92.84deg, #FB3C00 -47.72%, #FFB800 136.81%);
  --app-download-color: linear-gradient(92.84deg, #FFB800 -47.72%, #FF8A00 136.81%);
  --details-text-color: rgba(97, 97, 97, 0.69);
  --details-btn-color: #ffa500;
  --footer-link: #f5f5f5;
  --footer-feedback: #636363;
}
