/* Обычный */
@font-face {
  font-family: "Source Code Pro regular";
  src: url(fonts/source-sans-pro/SourceSansPro-Regular.ttf);
}

/* Жирный */
@font-face {
  font-family: "Source Code Pro bold";
  src: url(fonts/source-sans-pro/SourceSansPro-Bold.ttf);
}
