@import "colors.css";
@import "fonts.css";
@import "reset.css";

header {
  display: flex;
  justify-content: center;
}

.header__inner {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 4px 0;
  margin: 16px auto;
}

.header__logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 11px;
}

.header__logo-icon {
  display: inline-flex;
  width: 100%;
  height: auto;
}

.header__logo-text {
  display: flex;
  align-items: baseline;
  font-size: 31px;
  font-family: "Source Code Pro normal", sans-serif;
  font-weight: 600;
}

.header__logo-first-item {
  display: inline-flex;
  font-weight: 600;
  color: var(--orange-color);
}

.header__logo-second-item {
  display: inline-flex;
  color: var(--gold-color);
}

.header__logo-third-item {
  display: inline-flex;
  font-size: 25px;
  color: var(--gold-color);
}

.header__logo-fourth-item {
  display: inline-flex;
  font-size: 31px;
  color: var(--gold-color);
}

.header__locator {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-shrink: 0;
}

.header__locator-title {
  display: inline-flex;
  font-size: 18px;
  font-family: "Source Code Pro", sans-serif;
  font-weight: bold;
  color: var(--black-color);
  margin-right: 9px;
}

.header__locator-delivery-heading {
  display: inline-flex;
  font-size: 18px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: normal;
  color: var(--black-color);
  margin: 0 9px;
}

.header__locator-icon {
  display: inline-flex;
  align-self: center;
}

.header__locator-delivery-location {
  display: inline-flex;
  font-size: 18px;
  font-family: Open Sans, sans-serif;
  font-weight: bold;
  color: var(--black-color);
}

.header__widgets {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.header__search {
  display: flex;
  align-items: end;
  gap: 8px;
}

.header__search-icon {
  display: inline-flex;
}

.header__search-text {
  display: inline-flex;
  font-size: 18px;
  font-family: "Source Code Pro", sans-serif;
  font-weight: bold;
  color: var(--black-color);
}

.header__login-button {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  padding: 10px 24px;
  border-radius: 8px;
  border: none;
  box-shadow: 2px 5px 9px 0 var(--else-yellow);
}

.header__login-icon {
  display: inline-flex;
}

.header__login-name {
  display: inline-flex;
  font-size: 18px;
  font-family: Calibri, sans-serif;
  font-weight: bold;
  color: var(--saturated-yellow);
}

.promo {
  background-image: url("../img/backgrounds/promo-bg.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
}

.promo__intro {
  display: flex;
  flex-direction: column;
}

.promo-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 1;
  width: 85%;
  height: auto;
  padding-top: 132px;
  margin: 0 auto;
}

.promo-main--padding {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  margin-bottom: 120px;
}

.promo__title {
  /*font-size: 88px;*/
  font-size: clamp(32px, 8vw, 88px);
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--white-color);
  white-space: nowrap;
}

.promo__text {
  /*font-size: 22px;*/
  font-size: clamp(1.14vw, 18px, 22px);
  font-family: Source Sans Pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--other-black-color);
  margin: 15px 0 32px 0;
}

.reception-order {
  width: auto;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  background-color: var(--white-color);
  border-radius: 16px;
}

.reception__methods {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 24px 0 0 0;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--border-grey-color);
}

.reception__delivery-button {
  display: flex;
  align-items: baseline;
  gap: 10px;
  background-color: var(--promo-delivery-color);
  padding: 10px 22px;
  border-radius: 8px;
  margin-left: 24px;
}

.reception__delivery-button:active {
  background-color: rgba(241, 114, 40, 0.42);
}

.reception__delivery-icon,
.reception__pickup-icon {
  display: inline-flex;
}

.reception__pickup-button {
  display: flex;
  align-items: normal;
  gap: 10px;
}

.reception__delivery-title {
  display: inline-flex;
  font-size: 18px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--orange-color);
}

.reception__pickup-title {
  display: inline-flex;
  font-size: 18px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--dark-grey);
}

.promo-search {
  display: flex;
  align-items: center;
  gap: 16px;
}

.promo-search--padding {
  padding-bottom: 24px;
  margin: 24px 0 0 24px;
}

.promo-search .promo-search__wrapper {
  display: flex;
  align-items: center;
  padding-left: 16px;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.promo-search__wrapper {
  position: relative;
}

.promo-search__wrapper::before {
  position: absolute;
  top: 4px;
  left: 15px;
  content: "";
  width: 28px;
  height: 38px;
  background: url("../img/icons/search-field-icon.svg") center center/80% no-repeat;
  z-index: 600;
}

.promo-search__input {
  display: inline-flex;
  background-color: #f5f5f5;
  padding: 18px 375px 18px 29px;
  border: none;
  border-radius: 8px;
}

.promo-search__input::placeholder {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--input-placeholder-color);
  padding-left: 12px;
}

.promo-search__button {
  display: flex;
  align-items: baseline;
  gap: 10px;
  flex-shrink: 0;
  background-color: var(--saturated-orange);
  padding: 20px 46px;
  border-radius: 8px;
  border: none;
  margin-right: 24px;
}

.promo-search__button:active {
  background-color: #872c09;
}

.promo-search__button-icon {
  display: inline-flex;
}

.promo-search__name {
  display: inline-flex;
  font-size: 18px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--white-color);
}

.hot-discounts__cards {
  width: 85%;
  display: flex;
  gap: 22px 16px;
  margin: 80px auto;
}

.hot-discounts__card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  max-width: 357px;
}

.hot-discounts__card-discount {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 140px;
  height: 83px;
  background-color: var(--gold-color);
  border-radius: 0 32px 0 14px;
  bottom: 116px;
}

.hot-discounts__card-amount {
  font-size: 68px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 700;
  color: var(--white-color);
}

.hot-discounts__card-first-item {
  font-size: 35px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 700;
  color: var(--white-color);
}

.hot-discounts__card-second-item {
  font-size: 22px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--white-color);
}

.hot-discounts__image img {
  border-radius: 16px;
}

.hot-discounts__title {
  font-size: 18px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 700;
  color: var(--black-color);
  margin-top: 32px;
}

.hot-discounts__days-remaining {
  width: fit-content;
  display: inline-flex;
  font-size: 18px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 700;
  color: var(--orange-color);
  background-color: var(--hot-discounts-color);
  border-radius: 8px;
  padding: 8px 16px;
  margin-top: 22px;
}

.functioning {
  width: 100%;
  height: fit-content;
  background-image: linear-gradient(#ffd70024, #ffffff);
}

.functioning__container {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 80px 0 0 0;
  margin: 0 auto 80px auto;
}

.functioning__title {
  font-size: 43px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--orange-color);
  text-align: center;
  margin-bottom: 71px;
}

.functioning__tiles {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 32px;
}

.functioning__tile {
  max-width: 307px;
  max-height: 239px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-bottom: 30px;
}


.functioning__tile-name {
  display: inline-flex;
  font-size: 22px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--new-black-color);
  margin-bottom: 10px;
}

.functioning__text {
  font-size: 18px;
  font-family: "Open Sans",sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--input-placeholder-color);
  text-align: center;
}

.popular--positioning {
  display: flex;
  margin: 160px 0 100px 0;
}

.popular__title {
  display: inline-flex;
  font-size: 43px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--ordinary-black-color);
  text-align: center;
  margin-bottom: 88px;
}

.popular__items {
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.popular__container {
  display: flex;
  justify-content: center;
  column-gap: 16px;
  flex-wrap: wrap;
}

.popular__item {
  max-width: 283px;
  max-height: 470px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.popular__item-image {
  margin-bottom: 16px;
}

.popular__item-image img {
  border-radius: 16px;
}

.popular__item-title {
  font-size: 22px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--black-color);
}

.popular__item-destination {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 8px 0;
}

.popular__item-restaurant {
  font-size: 22px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--gold-color);
}

.popular__item-price {
  font-size: 22px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--ordinary-black-color);
}

.popular__item-button {
  max-height: 60px;
  font-size: 18px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--white-color);
  background-color: var(--orange-color);
  text-wrap: nowrap;
  padding: 21px 96px;
  border-radius: 8px;
  margin-top: 16px;
}

.featured-restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.featured-restaurants--margin {
  margin-bottom: 80px;
}

.featured-restaurants__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 88px auto;
}

.featured-restaurants__title {
  display: inline-flex;
  font-size: clamp(30px, 2.23vw, 43px);
  font-family: Source Sans Pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--ordinary-black-color);
  text-align: center;
  margin-bottom: 88px;
}

.featured-restaurants__cards {
  max-width: 1600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 63px 16px;
  margin: 0 auto;
}

.featured-restaurants__card {
  position: relative;
  max-width: 357px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 16px 16px 0 0;
}

.featured-restaurants__image img {
  display: flex;
  border-radius: 16px;
}

.featured-restaurants__card-discount {
  position: absolute;
  top: 20px;
  left: 20px;
  max-width: 134px;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background-color: var(--orange-color);
  gap: 10px;
  border-radius: 8px;
}

.featured-restaurants__card-off-amount {
  font-size: 22px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--white-color);
  text-wrap: nowrap;
}

.featured-restaurants__card-delivery {
  position: absolute;
  top: 20px;
  right: 89px;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  color: var(--white-color);
  background-color: var(--gold-color);
  gap: 10px;
  border-radius: 8px;
}

.featured-restaurants__card-fast {
  font-size: 22px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--white-color);
  text-wrap: nowrap;
}

.featured__card-brand {
  display: flex;
  gap: 24px;
  margin: 24px 0 26px 0;
}

.featured__card-name {
  display: flex;
  flex-direction: column;
}

.featured__card-restaurant {
  display: flex;
  font-size: 22px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--black-color);
}

.featured__card-rating {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 22px;
  font-family: Source Sans Pro, sans-serif;
  font-style: normal;
  color: var(--gold-color);
  margin-top: 4px;
}

.featured__card-button {
  display: inline-flex;
  justify-content: center;
  max-width: 132px;
  font-size: 20px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--text-grass-color);
  background-color: var(--background-grass-color);
  text-align: center;
  border-radius: 16px;
  padding: 8px;
}

.featured__card-button--tomorrow {
  max-width: 196px;
  color: var(--orange-color);
  background-color: var(--hot-discounts-color);
}

.view-all {
  display: inline-flex;
  justify-content: center;
  max-height: 60px;
  font-size: 18px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--white-color);
  background-color: var(--gold-color);
  padding: 21px 46px;
  gap: 6px;
  text-wrap: nowrap;
  border-radius: 14px;
  margin: 0 auto;
  box-shadow: 0 5px 11px 0 #ffb30e;
}

.view-all span {
  display: inline-flex;
}

.food-search {
  background-color: var(--faded-yellow);
}

.food-search-container--width-and-position {
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  padding-bottom: 55px;
  margin: 0 auto;
}

.food-search__title {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  font-size: 43px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--ordinary-black-color);
  margin: 0 0 116px 94px;
}

.food-search__title span {
  max-width: 450px;
}

.advantages {
  background-image: url("../img/backgrounds/advantages-download.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: var(--advantages-color);
}

.advantages--size-and-position {
  width: 85%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 25px auto;
}

.advantages__billet {
  max-width: 1230px;
  display: flex;
  align-items: center;
  gap: 56px;
  background-color: var(--white-color);
  padding: 55px;
  border-radius: 46px;
  margin: 130px auto 70px auto;
}

.advantages__billet-item {
  display: flex;
  align-items: center;
  gap: 30px;
}

.gasket {
  width: 2px;
  height: 96px;
  padding: 0 1px;
  background-color: var(--grey-color);
}

.advantages__billet-icon {
  display: inline-flex;
}

.advantages__billet-text {
  display: inline-flex;
  font-size: 32px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  background: var(--red-orange-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.advantages__application {
  max-width: 1400px;
  height: auto;
  display: flex;
  align-items: center;
  gap: 143px;
  margin: 0 auto;
}

.advantages__application-image {
  max-width: 603px;
  display: inline-flex;
  margin-bottom: -4px;
}

.advantages__application-image img {
  width: 100%;
}

.advantages__application-links {
  display: inline-flex;
  flex-direction: column;
  justify-content: left;
}

.advantages__application-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.advantages__application-heading {
  font-size: 68px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  background: var(--app-download-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.advantages__application-slogan {
  max-width: 429px;
  font-size: 18px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--prime-color);
}

.advantages__application-buttons {
  display: flex;
  gap: 13px;
  margin-top: 40px;
}

.advantages__application-button  img{
  display: inline-flex;
  border-radius: 5px;
}

.details--width-margins {
  max-width: 1480px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 135px auto;
}

.details__card {
  display: flex;
  align-items: center;
  gap: 56px;
  border-radius: 16px;
}

.details__image,
.details__description {
  display: inline-flex;
}

.details__card:nth-child(odd) {
  flex-direction: row-reverse;
}

.details__description {
  max-width: 407px;
  flex-direction: column;
  justify-content: center;
}

.details__card:nth-child(odd) {
  box-shadow: -5px 12px 20px #cecece;
}

.details__card:nth-child(odd) img {
  border-radius: 0 16px 16px 0;
}

.details__card:nth-child(even) {
  box-shadow: 8px 7px 20px #cecece;
}

.details__card:nth-child(even) img {
  border-radius: 16px 0 0 16px;
}

.details__description-text {
  font-size: 43px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--details-title-black);
}

.text-gold {
  color: var(--gold-color);
}

.details__description-details {
  display: inline-flex;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.4;
  color: var(--details-text-color);
}

.details__description-button {
  display: inline-flex;
  justify-content: center;
  max-width: 407px;
  max-height: 60px;
  font-size: 16px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: var(--white-color);
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--details-btn-color);
  border-radius: 8px;
  padding: 21px 48px;
  margin-top: 94px;
}

.cta {
  background: url("../img/backgrounds/cta-background.jpg") center center/cover no-repeat;
}

.cta-inner--position-and-size {
  max-width: 788px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 62px;
  padding: 91px 0 75px 0;
  margin: 0 auto;
}

.cta__header-text {
  display: inline-flex;
  justify-content: center;
  font-size: clamp(30px, 2.87vw, 55px);
  font-family: Source Sans Pro, sans-serif;
  font-weight: 900;
  font-style: normal;
  text-align: center;
  line-height: 1.2;
  color: var(--white-color);
}

.cta__order-button {
  display: inline-flex;
  font-size: 16px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: var(--white-color);
  background-color: var(--saturated-orange);
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 21px 26px;
  border-radius: 8px;
}

.footer {
  background-color: var(--ordinary-black-color);
}

.footer-container {
  max-width: 1600px;
  padding: 100px 0 88px 0;
  margin: 0 auto;
}

.footer-city-container {
  flex-direction: column;
}

.footer-city__list {
  display: flex;
  justify-content: space-between;
  gap: 235px;
}

.footer-row__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-row__link {
  font-size: 18px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--footer-link);
  text-decoration: none;
}

.footer-city__title {
  display: inline-flex;
  font-size: 22px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--white-color);
  margin-bottom: 40px;
}

.horizontal-line-f {
  height: 1px;
  background-color: var(--black-color);
  margin: 115px 0 63px 0;
}

.footer-main-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-company__links {
  display: flex;
  gap: 116px;
}

.footer-company__link-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-company__link-title {
  font-size: 22px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 600;
  color: var(--white-color);
  margin-bottom: 40px;
}

.footer-feedback--geometry {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-feedback__networks-title {
  font-size: 22px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 700;
  color: var(--footer-feedback);
}

.footer-feedback__networks {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.footer-feedback__networks-icon {
  display: inline-flex;
}

.footer-feedback__form-title {
  font-size: 18px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 700;
  color: #bbbbbb;
}

.footer-input-wrapper {
  position: relative;
}

.footer-input {
  display: inline-flex;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #adadad;
  background-color: var(--black-color);
  padding: 20px 59px 19px 56px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.footer-input-wrapper::before {
  content: "";
  position: absolute;
  width: 34px;
  height: 24px;
  background: url("../icons/envelope.svg") center center/contain no-repeat;
  top: 17px;
  left: 15px;
  z-index: 600;
}

.footer__copyright {
  max-width: 1480px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.footer__copyright-note {
  flex-direction: row;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: var(--footer-link);
}

.footer__copyright-note-first {
  font-size: 15px;
  font-family: "Open Sans",sans-serif;
  font-weight: 400;
  color: var(--footer-link);
}

.footer__copyright-sign {
  font-size: 18px;
}

.footer-feedback__form-button {
  background: var(--app-download-color);
  font-size: 18px;
  font-family: Source Sans Pro, sans-serif;
  color: #eadede;
  background: linear-gradient(92.84deg, #FFB800 -47.72%, #FF8A00 136.81%);
  padding: 19px 26px;
  border: none;
  border-radius: 8px;
  margin-left: 16px;
  box-shadow: 0 5px 8px rgba(222, 151, 0, 0.24), 0 14px 32px rgba(255, 178, 14, 0.29);
}

.horizontal-line-s {
  height: 1px;
  background-color: var(--black-color);
  margin: 63px 0 16px 0;
}
