.categories {
    max-width: 1170px;
    margin: 0 auto;    
}

.categoriesDie {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.categoriesDieImg {
    width: 20px;
    height: 40px;
    background-color: var(--red);
    border-radius: 4px;
}

.categoriesDieText {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: var(--red);
}

.categoriesTitle {
    font-size: 36px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: var(--standard-black);
}

.categoriesList {
    max-width: 1170px;
    display: flex;
    gap: 30px;
    margin: 60px auto 70px auto;
}

.categoriesListItem {
    max-width: 170px;
    height: auto;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--slightly-black);
    padding: 25px 57px 24px 57px;
    border-radius: 4px;
}

.categoriesListItemTitle {
    font-family: Poppins, sans-serif;
    margin-top: 16px;
}

.categoriesListItem:hover .categoriesListItemIcon, .categoriesListItemTitle {
    background-color: var(--standard-white);
}

.categoriesListItem:hover {
    background-color: var(--red);
}

.categoriesListItem:hover .categoriesListItemTitle {
    color: var(--standard-white);
    background-color: var(--red);
}

.categoriesDivider {
    width: 100%;
    height: 1px;
    background-color: var(--header-border);
    margin-top: 60px;
}

.categoriesListItem:hover .categoriesListItemIcon {
    background-color: var(--standard-white) !important;
}