.partners {
    width: 100%;
    background-color: var(--main);
    display: flex;
    justify-content: center;
}

.partners-container_main_props {
   padding: 38px 0 18px 0;
}

.partners__title {
    font-size: 30px;
    font-family: Calibri;
    font-weight: 700;
    line-height: 31px;
    color: var(--bold-title);
    text-align: center;
}

.partners__list {
    max-width: 1450px;
    display: flex;
    flex-direction: row;
}

.partners__list-item {
    max-width: 263px;
    height: auto;
}

.partners__list-item img {
    width: 95%;
}