/* .swiper {
    width: 100%;
    max-width: 800px;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 344px;
    object-fit: cover;
  } */