:root {
--white: #ffffff;
--black: #1a1a1a;
--second-black: #1a1a1a;
--third-black: #222121;
--dingy-black: #3d3e3f;
--lightblue: #f6f8fa;
--lightred: #eb664e;
--lightgrey: #e9e9e9;
--middle-grey: #f9f9f9;
--grey: #e1e1e1;
--gold: #e7c873;
--advantage-card-hover: #e6c365;
--dark-green: #1f4b43;
--beige: #fff8f6;
}