.footer {
    background-color: var(--dark-blut);
    width: 100%;
    height: auto;
}

.footer-container_main_props {
    display: flex;
    flex-direction: row;
    width: 93%;
    padding: 27px 0 0 0;
    margin: 0 auto;
}

.footer__logo {
    font-size: 24px;
    font-family: Calibri;
    font-weight: 700;
    line-height: 24px;
    color: var(--links-white);
}

.footer__links {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.footer__links-set:first-child {
    margin-right: 153px;
}

.footer__links-set:nth-child(2) {
    margin-right: 339px;
}

.footer__links-set :first-child :first-child {
    font-size: 16px;
    font-family: Calibri;
    font-weight: 500;
    line-height: 16px;
    color: var(--links-white);
    margin-bottom: 7px;
}

.footer__links-set {
    display: flex;
    flex-direction: column;
}

.footer__link {
    display: block;
    margin-top: 8px;
}

.footer__link-url {
    font-family: Calibri;
    color:var(--dark-grey);
}

.footer__link-url {
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.footer__hr {
    color: var(--light-grey);
    margin: 40px 0 4px 0;
}

.footer-copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-copyright_main_props {
    width: 93%;
    margin: 0 auto;
}

.footer-copyright__links {
    max-width: 390px;
    display: flex;
    gap: 60px;
    margin-bottom: 6px;
}

.footer-copyright__notice, .footer-copyright__url {
    font-size: 14px;
    font-family: Calibri;
    font-weight: 400;
    line-height: 21px;
    color: var(--links-white);
}

.footer-copyright__url {
    text-decoration: none;
}


.footer-copyright__item {
    display: flex;
    flex-direction: row;
}