.form {
  max-width: 350px;
  display: flex;
  flex-direction: column;
}

label {
  margin: 5px 0;
}

.nickname {
  padding: 5px 12px;
}

.message {
  resize: none;
  margin-bottom: 16px;
}

.save-data {
  padding: 7px 0;
}