body {
    font-family: Calibri, sans-serif;
}

.container {
    margin: 50px 0 0 50px;
}

.title {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 30px 55px;
}

.search-form {
    display: flex;
    flex-direction: row;
    gap: 6px;
    margin-left: 55px;
}

.search-title {
    font-size: 18px;
    padding: 4px 30px 0 12px;
    margin-left: 10px;
}

.search-title::placeholder {
    font-size: 16px;
    font-style: italic;
}

label {
    max-width: 100px;
    font-size: 20px;
    font-weight: 600;
}

.year {
    padding: 5px 30px 5px 12px;
    margin-left: 4px;
}

.search__title-wrapper {
    display: inline-block;
}

.movie-search-results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: 1fr;
    gap: 17px;
    margin: 50px auto 0 50px;
}

.movie-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.movie__poster, .movie__title,
.movie__release, .movie__rating {
    display: inline-flex;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(240, 232, 232);
}

.movie__title {
    padding: 5px;
}

.movie__title-label {
    padding: 0 0 0 5px;
}

.movie__poster img {
    height: auto;
    padding: 5px;
}

.movie__release {
    padding: 0 0 0 5px;
}

.movie__release-year {
    padding-left: 5px;
}