@import "reset";
@import "variables";
@import "fonts";

@mixin px15-white-text {
    font: {
        size: 15px;
        family: Proxima Nova;
    }
    color: $default-white;
}

@mixin px20-white-text {
    font: {
        size: 20px;
        family: Proxima Nova;
    }
    color: $default-white;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin px16-white-text {
    font: {
        size: 16px;
        family: Proxima Nova;
    }
    color: $default-white;
}

body {
    background-color: $first-black;
}

.header {
    display: flex;
}

.header__wrapper {
    position: relative;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    margin: 0 auto;

    .header-menu {
        display: flex;
        gap: 45.6px;
        margin: 0 98px;
    }

    .header-menu__link {
        font-size: 16px;
        font-family: Proxima Nova;
        text-decoration: none;
        white-space: nowrap;
        color: $default-white;
    }

    .header__button {
        display: inline-flex;
        @include px15-white-text;
        font-weight: 400;
        text-decoration: none;
        background-color: $orange;
        padding: 16px 28.4px;
        white-space: nowrap;
        border-radius: 90px;
    }
}

.swiper-wrapper {
    position: relative;
}

.swiper {
    position: relative;
    width: 100%;
    max-width: 1820px;
    height: 100%;
    max-height: 700px;
    padding-bottom: 60px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    @include flex-center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    max-width: 1820px;
    height: 100%;
    max-height: 700px;
    background-color: $first-black;
}

.swiper-pagination {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.swiper .swiper-pagination {
    transform: translateY(-73px);
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background-color: transparent;
    border: 2px solid $default-white;
    opacity: 1;
}

.swiper-wrapper .swiper-horizontal .swiper-pagination-bullet-active {
    width: 8px;
    height: 8px;
    background-color: $default-white;
    border: 2px solid $default-white;
}

.swiper-advertising {
    position: absolute;
    top: 163px;
    left: 340px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 100;
    user-select: none;
    padding: 15px 35px;
}

.swiper-advertising__title {
    display: flex;
    text-align: left;
    max-width: 438px;
    font-size: 56px;
    font-weight: 500;
    font-family: Proxima Nova;
    color: $default-white;
}

.swiper-advertising__subtitle {
    display: flex;
    text-align: left;
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    font-family: Proxima Nova;
    color: $default-white;
    margin: 8px 0 37px 0;
}

.swiper-wrapper .swiper-button-prev {
    left: 148px;
    color: white;
    background-color: fff;
}

.swiper-wrapper .swiper-button-next {
    right: 148px;
    color: white;
    background-color: fff;
}

.swiper-advertising__button {
    display: inline-flex;
    align-items: center;
    gap: 49px;
    text-decoration: none;
    background-color: $orange;
    white-space: nowrap;
    overflow: visible;
    border-radius: 50px;
    padding: 20.5px 28px;
    cursor: pointer;
    border: none;
}

.swiper-advertising__button-text {
    @include px15-white-text;
}

.swiper-advertising__button-icon {
    font-size: 20px;
    font-weight: bold;
    color: $light-brown;
    width: 27px;
    height: 27px;
    background: url("/Vector.svg") center / cover;
    border-radius: 100%;
}

.price-calculating {
    display: flex;
    margin: 0 auto;
}

.price-calculating__wrapper {
    max-width: 1207px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.price-calculating-form {
    background-color: $second-black;
}

.tabs-container {
    position: relative;
    font-family: Arial, sans-serif;
    max-width: 626px;
    background-color: $second-black;
    padding: 70px 80px 4px 80px;
    margin: 0 auto;
    border-radius: 12px;
}

.tabs-buttons {
    position: absolute;
    top: -28px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.tab-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $first-black;
    color: $third-gray;
    border: 1px solid $second-black;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 12px;
    transition: all 0.3s ease;
}

.tab-button-active {
    background-color: $lime !important;
    color: $default-white !important;
}

.tab-button:hover {
    background-color: #66bb6a;
    color: #fff;
}

.stepper-fields {
    display: flex;
    gap: 30px;
}

.stepper-fields-set {
    display: flex;
    flex-direction: column;
}

.input-label {
    @include px15-white-text;
    margin-bottom: 6px;
}

.input-checkbox-label {
    display: flex;
    align-items: center;
    gap: 9px;
    color: $default-white;
}

.input-checkbox {
    width: 24px;
    height: 24px;
    display: inline-flex;
    accent-color: $default-white;
    padding: 8px;
    border-radius: 4px;
}

.input-checkbox--margin {
    margin: 20px 0 14px 0;
}

.textField {
    padding: 20.5px 57px 20.5px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.textField::placeholder {
    font-size: 15px;
    font-family: Proxima Nova, sans-serif;
    color: $text-input-placeholder;
}

.textField:focus {
    outline: none;
}

.tab-content {
    display: flex;
    min-height: 100px;
    padding: 0 62px 41px 62px;
    border-radius: 8px;
    justify-content: center;
    margin: 0 auto;
}

#inputFile {
    position: absolute;
    bottom: 190px;
    left: 60px;
    display: flex;
    gap: 15px;
    width: 520px;
    height: 30px;
    opacity: 0;
    border: 1px solid black;
}

.fileInputWrapper {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 526px;
    height: 87px;
    font-family: Poppins, sans-serif;
    opacity: 100;
    padding: 15px 0 0 10px;
    border-radius: 4px;
    margin: 14px 0 13px 0;
}

.choose-placeholder {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 32px;
    padding: 3px 12px;
    background-color: rgb(211, 211, 211);
    border-radius: 4px;
}

label .choose-placeholder:hover {
    outline: 1px solid rgb(184, 18, 18);
}

.fileNotPicked {
    display: inline-flex;
    width: 122px;
    height: 25px;
    display: inline-flex;
    margin: 6px 8px 0 8px;
}

.placeholder {
    @include flex-center;
    width: 520px;
    height: 44px;
    position: absolute;
    left: 0;
    right: 0;
    font-size: 15px;
    color: $default-white;
    border: 1px dashed #6a6d7b;
    border-radius: 8px;
}

.stepper-body {
    display: flex;
    flex-direction: column;
}

.stepper__button {
    max-width: 263px;
    display: inline-flex;
    align-items: center;
    gap: 49px;
    text-decoration: none;
    background-color: $orange;
    padding: 20.5px 24px 20.5px 33px;
    border-radius: 90px;
}

.stepper__button-text {
    font-size: 16px;
    font-weight: 500;
    font-family: Proxima Nova;
    color: $default-white;
}

.stepper__button-icon {
    display: inline-flex;
    width: 27px;
    height: 27px;
    background: url("/Vector.svg") center / cover;
}

.stepper-personal-name {
    display: inline-flex;
    flex-direction: column;
}

.person-name {
    font-size: 15px;
    font-family: Proxima Nova, sans-serif;
    padding: 19px 337px 19px 20px;
    border-radius: 10px;
}

.stepper-person-name-label {
    @include px15-white-text;
    margin-bottom: 6px;
}

.stepper-personal-сontacts {
    display: flex;
    gap: 22px;
}

.person-phone-number {
    padding: 20.5px 57px 20.5px 20px;
    border-radius: 10px;
}

.person-phone-number-label,
.person-email-label {
    @include px15-white-text;
}

.person-email {
    padding: 20.5px 57px 20.5px 20px;
    border-radius: 10px;
}

.person-message {
    font-size: 15px;
    font-family: Proxima Nova, sans-serif;
    padding: 20.5px 0 0 20px;
    border-radius: 10px;
}

.person-message-label {
    @include px15-white-text;
}

.person-phone-wrapper,
.person-email-wrapper,
.person-message-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 20px;
}

.person-name::placeholder,
.person-phone-number::placeholder,
.person-email::placeholder,
.person-message::placeholder {
    color: $text-input-placeholder;
}

.person-name:focus,
.person-phone-number:focus,
.person-email:focus,
.person-message:focus {
    outline: none;
}

.stepper-buttons {
    max-width: 536px;
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
}

.stepper__button-back {
    max-width: 138px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 49px;
    text-decoration: none;
    background-color: transparent;
    padding: 23px 45.3px;
    border: 1px solid #e58d35;
    border-radius: 90px;
}

.stepper__button-back-text {
    font-size: 16px;
    font-weight: 500;
    font-family: Proxima Nova;
    color: $default-white;
}

.stepper__button-ahead {
    max-width: 253px;
    display: inline-flex;
    align-items: center;
    gap: 39px;
    text-decoration: none;
    background-color: #e58d35;
    padding: 20.5px 24px 20.5px 33px;
    border-radius: 90px;
}

.stepper__button-ahead-text {
    font-size: 16px;
    font-weight: 500;
    font-family: Proxima Nova;
    color: $default-white;
}

.stepper__button-ahead-icon {
    display: inline-flex;
    width: 27px;
    height: 27px;
    background: url("/Vector.svg") center / cover;
}

.stepper-finish {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 626px;
    width: 100%;
    padding: 0 30px 107px 30px;
}

.stepper-finish__title {
    font-size: 32px;
    font-weight: bold;
    font-family: Proxima Nova;
    line-height: 20px;
    color: $default-white;
    margin: 32px 0 20px 0;
}

.stepper-finish__caption {
    @include px20-white-text;
    line-height: 20px;
    white-space: nowrap;
    margin-bottom: 20px;
}

.stepper-finish__subtitle {
    @include px20-white-text;
    line-height: 20px;
    margin-bottom: 37px;
}

.stepper-finish__promo {
    padding-left: 28px;
}

.stepper-finish__promo-caption {
    @include px20-white-text;
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.stepper-finish__promo-item {
    @include px20-white-text;
    line-height: 30px;
    list-style-type: disc;
    margin: 0;
    padding: 0;
}

.why-choose-us__wrapper {
    max-width: 1820px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $second-black;
    border-radius: 20px;
    padding: 90px 0;
    margin: 0 auto;
}

.why-choose-us__content {
    @include flex-center;
    flex-direction: column;
}

.why-choose-us__title {
    font-size: 36px;
    font-weight: bold;
    font-family: Proxima Nova, sans-serif;
    text-align: center;
    color: $default-white;
}

.why-choose-us__divider {
    width: 85px;
    height: 2px;
    background-color: $orange;
    margin: 19px 0 51px 0;
}

.why-choose-us__explanations {
    max-width: 1142px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

.why-choose-us__explanation {
    max-width: 236px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why-choose-us__explanation-wrapper {
    max-width: 263px;
    padding: 9px;
    border: 1px solid $first-grey;
    border-radius: 100%;
    margin-bottom: 22px;
}

.why-choose-us__explanation-icon {
    @include flex-center;
    max-width: 93px;
    max-height: 93px;
    background-color: $lime;
    padding: 22px;
    border-radius: 100%;
}

.why-choose-us__explanation-title {
    font-size: 18px;
    font-weight: normal;
    font-family: Proxima Nova, sans-serif;
    text-align: center;
    color: $default-white;
}

.shipping-methods__wrapper {
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 97px 0 100px 0;
    margin: 0 auto;
}

.shipping-methods__title {
    font-size: 36px;
    font-weight: bold;
    font-family: Proxima Nova, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: $default-white;
}

.shipping-methods__divider {
    width: 85px;
    height: 2px;
    background-color: $lime;
    margin: 19px 0 51px 0;
}

.shipping-methods__cards {
    display: flex;
    gap: 30px;
}

.shipping-methods__card {
    background-color: $second-black;
    border-radius: 20px;
}

.shipping-methods__image {
    border-radius: 20px 20px 0 0;
}

.shipping-methods__body {
    @include flex-center;
    flex-direction: column;
    padding-bottom: 27px;
}

.shipping-methods__card-title {
    font-size: 22px;
    font-weight: bold;
    font-family: Proxima Nova, sans-serif;
    color: $default-white;
    margin: 27px 0 13px 0;
}

.shipping-methods__params {
    display: flex;
    gap: 30px;
    margin-bottom: 13px;
}

.shipping-methods__time {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
}

.shipping-methods__time-text,
.shipping-methods__weight-text {
    font-size: 16px;
    font-family: Proxima Nova, sans-serif;
    color: $default-white;
}

.shipping-methods__weight {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
}

.shipping-methods__price-initValue {
    font-size: 18px;
    font-family: Proxima Nova, sans-serif;
    color: $fourth-gray;
}

.shipping-methods__price-amount {
    font-size: 36px;
    font-weight: bold;
    font-family: Proxima Nova, sans-serif;
    color: $default-white;
    margin: 0 5px;
}

.shipping-methods__price-currency {
    font-size: 16px;
    font-family: Proxima Nova, sans-serif;
    color: $default-white;
}

.shipping-methods__price-weightUnit {
    font-size: 16px;
    font-family: Proxima Nova, sans-serif;
    color: $default-white;
}

.shipping-methods-buttons {
    display: flex;
    gap: 14px;
    margin-top: 18px;
}

.shipping-methods-buttons__request {
    @include px15-white-text;
    text-decoration: none;
    background-color: $orange;
    padding: 15px 18.4px;
    border: 1px solid $orange;
    border-radius: 90px;
}

.shipping-methods-buttons__details {
    @include px15-white-text;
    text-decoration: none;
    background-color: transparent;
    padding: 15px 36.3px;
    border: 1px solid $orange;
    border-radius: 90px;
}

.shipping-methods-buttons__request:hover {
    color: $default-white;
    background-color: transparent;
    border: 1px solid $orange;
}

.shipping-methods-buttons__details:hover {
    color: $default-white;
    background-color: $orange;
}

.why-choose-us__explanation-icon {
    transition: 1s;
}

.why-choose-us__explanation-icon:hover {
    transform: scaleX(-1);
    transition: 1s;
}

.services {
    background-color: $second-black;
}

.--services-width {
    max-width: 1820px;
    border-radius: 20px;
    padding: 97px 0 100px 0;
    margin: 0 auto;
}

.services__wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

.services__title {
    font-size: 36px;
    font-weight: bold;
    font-family: Proxima Nova, sans-serif;
    text-transform: uppercase;
    color: $default-white;
    text-align: center;
}

.services__divider {
    width: 85px;
    height: 2px;
    background-color: $orange;
    margin: 19px auto 49px auto;
}

.services-list {
    max-width: 1140px;
    display: flex;
    justify-content: center;
    gap: 30px;
    box-sizing: border-box;
}

.services-list__item {
    position: relative;
    display: flex;
    flex-direction: column;
}

.services-list__item-bg {
    border-radius: 20px;
}

.services-list-body {
    position: absolute;
    bottom: 33px;
    left: 35px;
    z-index: 100;
}

.services-list__item-title {
    font-size: 22px;
    font-weight: bold;
    font-family: Proxima Nova, sans-serif;
    color: $default-white;
}

.services-list__item-description {
    max-width: 307px;
    @include px15-white-text;
    margin: 13px 0 14px 0;
}

.services-list__item-button {
    display: inline-flex;
    @include px15-white-text;
    text-decoration: none;
    background-color: transparent;
    padding: 15px 36.3px;
    border: 1px solid $orange;
    border-radius: 90px;
}

.about-company__wrapper {
    max-width: 1181px;
    display: flex;
    align-items: center;
    padding: 61px 0 28px 0;
    margin: 0 auto;
}

.about-company-info__title {
    font-size: 36px;
    font-weight: bold;
    font-family: Proxima Nova, sans-serif;
    text-transform: uppercase;
    color: $default-white;
}

.about-company__divider {
    width: 85px;
    height: 2px;
    background-color: #89c249;
    margin: 19px 0 44px 0;
}

.about-company-info__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.about-company-info__paragraph {
    max-width: 460px;
    font-size: 18px;
    font-family: Proxima Nova, sans-serif;
    line-height: 30px;
    color: $default-white;
}

.about-company-image__wrapper {
    position: relative;
}

.about-company-image__substrate {
    position: absolute;
    top: 27px;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-46%);
    max-width: 550px;
    width: 100%;
    max-height: 550px;
    height: 100%;
    background-color: $second-black;
    border-radius: 100%;
    z-index: -1;
}

.faq__title {
    font-size: 36px;
    font-weight: bold;
    font-family: Proxima Nova, sans-serif;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    color: $default-white;
}

.faq__divider {
    width: 85px;
    height: 2px;
    background-color: #e58d35;
    margin: 19px auto 49px auto;
}

.faq-body {
    max-width: 1140px;
    width: 100%;
    display: flex;
    gap: 34px;
    margin: 0 auto;
}

.accordion {
    width: 100%;
    max-width: 600px;
    font-family: Arial, sans-serif;
    margin: 0 auto;
}

.item {
    max-width: 716px;
    background-color: transparent;
    overflow: hidden;
    transition: 0.3s;
    padding: 10px 0 10px 21px;
    border-radius: 10px;
    border: 1px solid $accordeon-border;
    margin-bottom: 16px;
}

.item-opened {
    color: $first-black;
    background-color: $default-white;
    padding: 15px 0 15px 21px;
    overflow: hidden;
    border: 1px solid $accordeon-border;
    border-radius: 5px;
    margin-bottom: 10px;
    transform: 0.3s;
}

.accordion-item__header {
    width: 100%;
    max-width: 663px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    box-sizing: border-box;
}

.title {
    display: inline-flex;
    flex-grow: 1;
    font-size: 18px;
    font-weight: bold;
    font-family: Proxima Nova, sans-serif;
    color: $default-white;
    white-space: nowrap;
    padding-right: 22px;
    margin: 0;
}

.title-opened {
    font-size: 18px;
    font-weight: bold;
    font-family: Proxima Nova, sans-serif;
    color: $first-black;
    white-space: nowrap;
    padding-right: 22px;
}

.button {
    display: inline-flex;
    flex-shrink: 0;
    @include flex-center;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: 1s;
}

.content {
    max-width: 517px;
    padding: 15px;
    background-color: #ffffff;
}

.arrowRight {
    width: 27px;
    height: 27px;
    background: url("../../../public/white-arrow.svg") center/cover;
    transition: 0.2s;
}

.arrowUp {
    width: 27px;
    height: 27px;
    background: url("../../../public/Vector.svg") center/cover;
    transform: rotate(-90deg);
    transition: 0.2s;
}

.faq-questionnaire {
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: $second-black;
    padding: 38px 40px;
    border-radius: 20px;
}

.faq-questionnaire__title {
    font-size: 24px;
    font-weight: bold;
    font-family: Proxima Nova, sans-serif;
    color: $default-white;
}

.faq-questionnaire__subtitle {
    max-width: 305px;
    font-size: 17px;
    font-family: Proxima Nova, sans-serif;
    color: $default-white;
    margin: 8px 0 23px 0;
}

.faq-questionnaire-body {
    display: flex;
    flex-direction: column;
}

.firstname,
.phone,
.email {
    display: inline-flex;
    max-width: 310px;
    width: 100%;
    font-size: 16px;
    font-weight: 100;
    font-family: Proxima Nova, sans-serif;
    color: $first-black;
    padding: 18px 118px 18px 20px;
    border-radius: 10px;
    margin-bottom: 14px;
}

.firstname::placeholder,
.phone::placeholder,
.email::placeholder {
    font-size: 15px;
    color: $text-input-placeholder;
}

.message {
    font-size: 16px;
    font-weight: 100;
    font-family: Proxima Nova, sans-serif;
    color: $first-black;
    padding: 24px 25px 6px 20px;
    border-radius: 10px;
    resize: none;
}

.message::placeholder {
    font-size: 15px;
    font-weight: 100;
    font-family: Proxima Nova, sans-serif;
    color: $text-input-placeholder;
}

.firstname,
.phone,
.email:focus {
    outline: none;
}

.message:focus {
    outline: none;
}

.faq-questionnaire__button {
    max-width: 310px;
    display: inline-flex;
    align-items: center;
    gap: 92px;
    text-decoration: none;
    background-color: #e58d35;
    padding: 20.5px 24px 20.5px 33px;
    border-radius: 90px;
    margin-top: 26px;
}

.faq-questionnaire__button-text {
    font-size: 16px;
    font-weight: 500;
    font-family: Proxima Nova;
    color: $default-white;
}

.faq-questionnaire__button-icon {
    display: inline-flex;
    width: 27px;
    height: 27px;
    background: url("/Vector.svg") center / cover;
}

.cooperation--width {
    display: flex;
    max-width: 1820px;
    margin: 0 auto;
}

.cooperation__wrapper {
    background-color: $second-black;
    border-radius: 20px;
    padding: 92px 339px 100px 339px;
    margin: 100px auto 0 auto;
}

.cooperation__divider {
    width: 85px;
    height: 2px;
    background-color: #89c249;
    margin: 19px auto 51px auto;
}

.cooperation__title {
    font-size: 36px;
    font-weight: 700;
    font-family: Proxima Nova;
    text-transform: uppercase;
    color: $default-white;
    text-align: center;
    margin-bottom: 16px;
}

.cooperation__subtitle {
    font-size: 22px;
    font-family: Proxima Nova;
    color: $default-white;
    text-align: center;
}

.cooperation-body {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.cooperation-info {
    display: flex;
    align-items: center;
    gap: 30px;
}

.cooperation-info__text {
    width: 34.69em;
    display: flex;
    flex-direction: column;
    gap: 30px;
    line-height: 26px;
}

.cooperation-info--smaller {
    display: flex;
    gap: 62px;
}

.cooperation-info__text--smaller {
    display: flex;
    max-width: 523px;
    margin-left: 32px;
}

.cooperation-info__text-paragraph {
    display: flex;
    width: 100%;
    flex-grow: 1;
    max-width: 555px;
    font-size: 17px;
    font-weight: normal;
    font-family: Proxima Nova;
    color: $default-white;
}

.cooperation-info__image {
    display: inline-flex;
    border-radius: 20px;
}

.cooperation-info__image-container {
    display: inline-flex;
    border-radius: 20px;
}

.cooperation-info__button {
    max-width: 243px;
    display: inline-flex;
    align-items: center;
    gap: 42px;
    text-decoration: none;
    background-color: #e58d35;
    padding: 20.5px 24px 20.5px 33px;
    border-radius: 90px;
}

.cooperation-info__button-text {
    @include px16-white-text;
    font-weight: 500;
}

.cooperation-info__button-icon {
    display: inline-flex;
    width: 27px;
    height: 27px;
    background: url("/Vector.svg") center / cover;
}

.burger-menu {
    visibility: hidden;
    width: 27.5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 15px 0 0;
}

.burger-menu__item {
    width: 27.5px;
    height: 3px;
    background-color: white;
}

.header-mobile-menu {
    display: none;
}

.header-mobile-menu--show {
    display: none;
    position: absolute;
    top: 67px;
    left: 0;
    right: 0;
    text-align: center;
    background-color: $second-black;
}

.header-mobile-menu__item:hover {
    background-color: $mobile-menu-item-hover;
}
.header-mobile-menu__item:active {
    background-color: $mobile-menu-item-click;
}

.header-mobile-menu__link:active {
    user-select: none;
    background-color: $mobile-menu-item-click;
}

.header-mobile-menu__link {
    font-size: 24px;
    font-family: Proxima Nova, sans-serif;
    text-decoration: none;
    line-height: 61px;
    color: $default-white;
}

@media (max-width: 1300px) {
    .price-calculating-image img {
        max-width: 500px;
    }
}

@media (max-width: 375px) {
    .header__wrapper {
        max-width: 370px;
        padding: 17px 20px 15px 20px;
    }

    .header-logo__wrapper {
        height: 40px;
    }
    .header-logo {
        height: 40px;
        margin-right: 163px;
    }

    .header-mobile-menu--show {
        display: block;
    }

    .header__wrapper .header__button,
    .header__wrapper .header-menu {
        display: none;
    }

    .burger-menu {
        visibility: visible;
    }

    .price-calculating {
        margin-top: 100px;
    }

    .price-calculating-image {
        display: none;
    }

    .price-calculating__wrapper {
        margin-top: 240px;
    }

    .tabs-container {
        max-width: 335px;
    }

    .stepper-fields {
        width: 275px;
        flex-direction: column;
    }

    .stepper-buttons {
        flex-direction: column;
        gap: 15px;
    }

    .placeholder,
    #inputFile,
    .person-phone-number,
    .person-email,
    .person-message {
        width: 275px;
    }
    .stepper-personal-сontacts {
        flex-direction: column;
    }
    .person-name {
        padding-right: 97px;
    }
    .stepper__button-back {
        max-width: 253px;
    }
    .stepper__button-ahead {
        gap: 43px;
        padding: 20.5px 0 20.5px 33px;
    }
    .stepper-finish__title {
        font-size: 28px;
    }
    .stepper-finish__subtitle,
    .stepper-finish__caption {
        font-size: 18px;
        text-align: center;
    }
    .stepper-finish__promo-item {
        font-size: 18px;
    }
}
