@import "reset";
@import "variables";
@import "fonts";

body {
    background-color: $first-black;
}

.header__wrapper {
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    margin: 0 auto;

    .header-menu {
        display: flex;
        gap: 45.6px;
    }

    .header-menu__link {
        font-size: 16px;
        font-family: Proxima Nova;
        text-decoration: none;
        color: $default-white;
    }

    .header__button {
        display: inline-flex;
        font-size: 15px;
        font-family: Proxima Nova;
        font-weight: 400;
        text-decoration: none;
        color: $default-white;
        background-color: $orange;
        padding: 16px 28.4px;
        border-radius: 90px;
    }
}

.swiper-wrapper {
    position: relative;
}

.swiper {
    position: relative;
    width: 100%;
    max-width: 1820px;
    height: 100%;
    max-height: 700px;
    padding-bottom: 60px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    max-width: 1820px;
    height: 100%;
    max-height: 700px;
    background-color: $first-black;
}

.swiper-pagination {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.swiper .swiper-pagination {
    transform: translateY(-73px);
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background-color: transparent;
    border: 2px solid $default-white;
    opacity: 1;
}

.swiper-wrapper .swiper-horizontal .swiper-pagination-bullet-active {
    width: 8px;
    height: 8px;
    background-color: $default-white;
    border: 2px solid $default-white;
}

.swiper-advertising {
    position: absolute;
    top: 163px;
    left: 340px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 100;
    user-select: none;
    padding: 15px 35px;
}

.swiper-advertising__title {
    display: flex;
    text-align: left;
    max-width: 438px;
    font-size: 56px;
    font-weight: 500;
    font-family: Proxima Nova;
    color: $default-white;
}

.swiper-advertising__subtitle {
    display: flex;
    text-align: left;
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    font-family: Proxima Nova;
    color: $default-white;
    margin: 8px 0 37px 0;
}

.swiper-wrapper .swiper-button-prev {
    left: 148px;
    color: white;
    background-color: fff;
}

.swiper-wrapper .swiper-button-next {
    right: 148px;
    color: white;
    background-color: fff;
}

.swiper-advertising__button {
    display: inline-flex;
    align-items: center;
    gap: 49px;
    text-decoration: none;
    background-color: $orange;
    white-space: nowrap;
    overflow: visible;
    border-radius: 50px;
    padding: 20.5px 28px;
    cursor: pointer;
    border: none;
}

.swiper-advertising__button-text {
    font-family: Proxima Nova;
    font-size: 15px;
    color: $default-white;
}

.swiper-advertising__button-icon {
    font-size: 20px;
    font-weight: bold;
    color: $light-brown;
    width: 27px;
    height: 27px;
    background: url("/Vector.svg") center / cover;
    border-radius: 100%;
}

.price-calculating {
    max-width: 1207px;
    margin: 0 auto;
}

.price-calculating-wrapper {
    display: flex;
    align-items: center;
}

.price-calculating-form {
    background-color: $second-black;
}


