@import "reset";
@import "variables";
@import "fonts";

body {
    background-color: $first-black;
}

.header__wrapper {
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    margin: 0 auto;

    .header-menu {
        display: flex;
        gap: 45.6px;
    }

    .header-menu__link {
        font-size: 16px;
        font-family: Proxima Nova;
        text-decoration: none;
        color: $default-white;
    }

    .header__button {
        display: inline-flex;
        font-size: 15px;
        font-family: Proxima Nova;
        font-weight: 400;
        text-decoration: none;
        color: $default-white;
        background-color: $orange;
        padding: 16px 28.4px;
        border-radius: 90px;
    }
}

.swiper-wrapper {
    position: relative;
}

.swiper {
    position: relative;
    width: 100%;
    max-width: 1820px;
    height: 100%;
    max-height: 700px;
    padding-bottom: 60px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    max-width: 1820px;
    height: 100%;
    max-height: 700px;
    background-color: $first-black;
}

.swiper-pagination {
        position: absolute;
        bottom: -60px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        gap: 8px;
        z-index: 10;
    }

.swiper-pagination-horizontal {
    position: absolute;
    bottom: -60px; // Поднимаем на 60px от низа
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 8px;
    z-index: 10;
    
    // Если нужно поднять ещё выше (на 100px)
    // bottom: 100px !important;
}

.swiper-button-next {
    right: 80px !important;
    color: white;
    background-color: fff;
}

.swiper-button-prev {
    left: 80px !important;
    color: white;
    background-color: fff;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: var(--slider-bullet);
}

.swiper-pagination-bullet-active {
    width: 14px;
    height: 14px;
    background-color: var(--red);
    border: 2px solid var(--standard-white);
}

.swiper-advertising {
    position: absolute;
    top: 100px;
    left: 104px;
    display: flex;
    flex-direction: column;
    z-index: 100;
    user-select: none;
}

.swiper-advertising__logo {
    display: flex;
    align-items: center;
    gap: 24px;
}

.swiper-advertising__model {
    font-family: Inter, sans-serif;
    line-height: 24px;
    color: var(--standard-white);
    margin-top: 8px;
}

.swiper-advertising__text {
    font-size: 48px;
    font-family: Inter, sans-serif;
    font-weight: 600;
    color: var(--standard-white);
    margin-top: 20px;
}


.swiper-pagination-horizontal {
    position: absolute;
    bottom: 100px;
    z-index: 8800;
}