$first-black: #282b38;
$second-black: #363a4d;
$default-white: #ffffff;
$orange: #e58d35;
$lime: #89c249;
$first-grey: #6c7188;
$second-grey: #6c6f7f;
$light-brown: #b16519;
$red: #e53535;
$text-input-placeholder: #cbcbcb;
