$first-black: #282b38;
$second-black: #363a4d;
$default-white: #ffffff;
$orange: #e58d35;
$lime: #89c249;
$first-grey: #6c7188;
$second-grey: #6c6f7f;
$third-gray: #bfbfbf;
$fourth-gray: #a3a3a3;
$light-brown: #b16519;
$red: #e53535;
$text-input-placeholder: #cbcbcb;
$input-type-file-border: #6a6d7b;
$accordeon-border: #3a444e;
$mobile-menu-item-hover: #5d6072;
$mobile-menu-item-click: #7a7c86;


