:root {
    --links-light-green: #2CB5B4;
    --links-white: #ffffff;
    --links-middle-grey: hsl(0, 0%, 80%);
    --dark-blut: #3d5d79;
    --dark-grey: #909aa1;
    --main: #cff3f3;
    --lime: #2CB5B4;
    --bold-title: #3d5d79;
    --lime-light: #f2fdfd;
    --salad: #bcf3f3;
    --herbal: #52adad;
    --subtitle: #a1aeb7;
    --light-grey: #c2d1d9;
    --dark-grey: #cccccc;
}