.swiper {
  bottom: -30px;
  margin-inline: auto;
}

.swiper--margins {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0 0 10px 0;
  margin-bottom: -100px;
  z-index: 1;
}

.swiper--size {
  max-width: 1164px;
}

.clients-swiper--margins {
  position: relative;
  margin: 185px auto 20px auto;
  max-width: 1282px;
}

.swiper__buttons {
  max-width: 1364px;
  position: absolute;
  left: 40px;
  right: 0;
  bottom: 120px;
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
}

.swiper-slide,
.swiper-slide img {
  transition: 0.4s;
}

.swiper-button-prev,
.swiper-button-next
{ 
  width: 60px;
  height: 60px;
  position: absolute;
  display: inline-flex;
  color: var(--second-grey);
  background-color: var(--white-color);
  border-radius: 12px;
}

.swiper-wrapper--geometry {
  max-width: 1164px;
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 0 auto;
}

.swiper-slide {
  min-width: 330px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: 0px 7px 20px 3px rgba(0, 0, 0, 0.1);
}

.swiper-slide__image {
  display: inline-flex;
  max-width: 95px;
  aspect-ratio: 1;
  margin: 44px 0 33px 19px;
}

.swiper-slide__title {
  font-size: 24px;
  font-weight: 600;
  color: var(--default-black);
  margin: 0 0 11px 19px;
}

.swiper-slide__text {
  max-width: 290px;
  font-size: 18px;
  font-weight: 500;
  color: var(--second-grey);
  margin: 0 0 38px 19px;
}

.swiper-slide__link {
  gap: 10px;
}

.swiper-slide__link-text {
  display: inline-flex;
  color: var(--default-black);
  margin: 0 0 70px 19px;
}

.swiper-slide__link-arrow {
  display: inline-flex;
  margin-left: 20px;
}

.clients-swiper-slide--size {
  min-width: 399px;
  max-width: 399px;
}

.clients-swiper__buttons {
  max-width: 513px;
  position: absolute;
  top: 7px;
  right: 1.5em;
  display: flex;
  gap: 66px;
}

.swiper-button-prev-clients,
.swiper-button-next-clients {
  position: static;
  width: 73px;
  height: 79px;
  outline: 1px solid var(--clients-slider-button-stroke);
  box-shadow: 0px 4px 20px 3px rgba(0, 0, 0, 0.1);
} 

.clients-slider-avatar {
  display: inline-flex;
  margin: -50px auto 33px auto;
}

.clients-slide__title {
  font-size: 24px;
  font-weight: 600;
  color: var(--default-black);
  margin: 0 auto;
}

.clients-slide__hobby {
  font-size: 18px;
  color: var(--second-grey);
  margin: 0 auto 50px auto;
}

.clients-slide__rating {
  margin: 0 0 10px 53px;
}

.clients-swiper-slide__text {
  max-width: 292px;
  font-size: 18px;
  font-weight: 500;
  color: var(--second-grey);
  margin: 0 auto 38px auto;
}