:root {
    --black: #181818;
    --secondary-black: #353535;
    --third-black: #515151;
    --fourth-black: #353535;
    --black-lighten: rgba(0,0,0, 0.8);
    --graphite: #595556;
    --white-transparent: rgba(255,255,255, 0.8);
    --green: #4eaf4e;
    --light-green: #a4eda4;
    --yellow: #ffcc4a;
    --sandy-color: #ffecbb;
    --second-yellow: #ffc32b;
    --third-yellow: #deaa27;
    --white: #ffffff;
    --first-grey: #ebebeb;
    --second-grey: #d8d8d8;
    --third-grey: #f6f6f6;
    --sixth-grey: #c1c1c1;
    --eight-grey: #fafafa;
    --ten-grey: #cecece;
    --eleventh-grey: #f3f3f3;
    --twelfth-grey: #727272;
    --new-grey: #a9a9a9;
    --box-border-grey: #eaeaea;
    --grey: #f5f5f5;
    
}