.bestsellers {
    display: flex;
    flex-direction: column;
    max-width: 1170px;
    margin: 70px auto 140px auto;
}

.bestsellersDie {
    display: flex;
    align-items: center;
    gap: 16px;
}

.bestsellersDieImg {
    width: 20px;
    height: 40px;
    background-color: var(--red);
    border-radius: 4px;
}

.bestsellersDieText {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: var(--red);
}

.bestsellersTitle {
    font-size: 36px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: var(--standard-black);
    margin: 20px 0 60px 0;
}

.bestsellersList {
    max-height: 1170px;
    display: flex;
    gap: 30px;
    margin: 0 auto;
}

.bestsellersItem {
    position: relative;
    border-radius: 4px;
}

.bestsellersItemImage {
    background-color: var(--gray);
    padding: 35px 40px;
    border-radius: 4px;
}

.bestsellersItemTitle {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: var(--standard-black);
    margin-top: 16px;
}

.bestsellersItemPrice {
    display: flex;
    gap: 12px;
    margin-bottom: 8px;
}

.bestsellersItemPriceNew {
    font-family: Poppins, sans-serif;
    color: var(--red);
}

.bestsellersItemPriceOld {
    font-family: Poppins, sans-serif;
    text-decoration: line-through;
    color: var(--flashsales-slider-price);
}

.bestsellersRating {    
    display: flex;
    gap: 8px;    
}

.bestsellersRatingCount {
    font-size: 14px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: var(--flashsales-slider-price);
}

.bestsellersWidgets {
    position: absolute;
    top: 0.75em;
    right: 0.45em;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.bestsellersWidgetsFavorites {
    display: inline-flex;
    padding: 9px 8px;
    background-color: var(--standard-white);
    border-radius: 100%;
}

.bestsellersWidgetsFavIcon {
    max-width: 16px;
    height: 14px;
}

.bestsellersWidgetsToggle {
    padding: 9px 8px;
    background-color: var(--standard-white);
    border-radius: 100%;
}

.bestsellersWidgetsToggleIcon {
    max-width: 19px;
    height: 14px;
}

.bestsellersSale {
    max-width: 1170px;
    margin: 0 auto;
}


