.bestsellers {
    display: flex;
    flex-direction: column;
    max-width: 1170px;
    margin: 70px auto 140px auto;
}

.bestsellersDie {
    display: flex;
    align-items: center;
    gap: 16px;
}

.bestsellersDieImg {
    width: 20px;
    height: 40px;
    background-color: var(--red);
    border-radius: 4px;
}

.bestsellersDieText {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: var(--red);
}

.bestsellersTitle {
    font-size: 36px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: var(--standard-black);
    margin: 20px 0 60px 0;
}

.bestsellersList {
    max-height: 1170px;
    display: flex;
    gap: 30px;
    margin: 0 auto;
}

.bestsellersItem {
    position: relative;
    border-radius: 4px;
}

.bestsellersItemImage {
    background-color: var(--gray);
    padding: 35px 40px;
    border-radius: 4px;
}

.bestsellersItemTitle {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: var(--standard-black);
    margin-top: 16px;
}

.bestsellersItemPrice {
    display: flex;
    gap: 12px;
    margin-bottom: 8px;
}

.bestsellersItemPriceNew {
    font-family: Poppins, sans-serif;
    color: var(--red);
}

.bestsellersItemPriceOld {
    font-family: Poppins, sans-serif;
    text-decoration: line-through;
    color: var(--flashsales-slider-price);
}

.bestsellersRating {    
    display: flex;
    gap: 8px;    
}

.bestsellersRatingCount {
    font-size: 14px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: var(--flashsales-slider-price);
}

.bestsellersWidgets {
    position: absolute;
    top: 0.75em;
    right: 0.45em;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.bestsellersWidgetsFavorites {
    display: inline-flex;
    padding: 9px 8px;
    background-color: var(--standard-white);
    border-radius: 100%;
}

.bestsellersWidgetsFavIcon {
    max-width: 16px;
    height: 14px;
}

.bestsellersWidgetsToggle {
    padding: 9px 8px;
    background-color: var(--standard-white);
    border-radius: 100%;
}

.bestsellersWidgetsToggleIcon {
    max-width: 19px;
    height: 14px;
}

.bestsellersSale {
    background-color: var(--standard-black);
    margin-top: 140px;
}

.bestsellersWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
    max-width: 1170px;
    padding: 83px 0;
    margin: 0 auto;
}

.bestsellersDetails {
    max-width: 443px;
}

.bestsellersDetailsTitle {
    font-size: 16px;
    font-weight: 400;
    font-family: Poppins, sans-serif;
    color: var(--red);
    margin-bottom: 32px;
}

.bestsellersDetailsSlogan {
    font-size: 48px;
    font-weight: 400;
    font-family: Poppins, sans-serif;
    line-height: 60px;
    color: var(--standard-white);
}

.bestsellersDetailsOrderButton {
    display: inline-flex;
    font-weight: 400;
    font-family: Poppins, sans-serif;
    line-height: 24px;
    text-decoration: none;
    color: var(--standard-white);
    background-color: var(--red);
    padding: 16px 49.8px;
    border-radius: 4px;
    margin-top: 100px;
}

.bestsellersImage {
    position: relative;
    z-index: 1;
}

.bestsellersImageSubstrate {
    position: absolute;
    top: -83px;
    left: -7px;
    width: 504px;
    height: 500px;
    background-image: radial-gradient(rgb(105, 104, 104), #000000 76%);
    z-index: -1;
    border-radius: 100%;
    backdrop-filter: blur(295px);
}