.jumbotronWrapper {
    max-width: 1170px;
    display: flex;
    align-items: center;
    margin: 0 auto 0 auto;
  }
  
  .jumbotronMenu {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 40px 96px 0 0;
    border-right: 1px solid var(--header-border);
  }
  
  .jumbotronMenuLink {
    font-family: Poppins, sans-serif;
    text-decoration: none;
    white-space: nowrap;
    color: var(--standard-black);
  }
  
  .jumbotronMenuLink:hover {
    text-decoration: underline;
  }