body {
    background-color: rgb(177, 106, 25);
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

/* Скрываем стандартный чекбокс */
input[type="checkbox"] {
    display: none;
  }
  
  /* Стилизуем метку как слайдер */
  label {
    display: block;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    background-color: #ccc;
    position: relative;
    cursor: pointer;
  }
  
  /* Создаем движущийся элемент внутри слайдера */
  label::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    transition: left 0.3s ease-in-out;
  }
  
  /* Изменяем положение движущегося элемента при выборе чекбокса */
  input[type="checkbox"]:checked + label::after {
    left: 35px;
  }
  