.explanations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explanations_margins_props {
    margin-top: 100px;
}

.explanations__title {
    font-size: 50px;
    font-family: Calibri;
    font-weight: 700;
    line-height: 64px;
    color: var(--bold-title);
}

.explanations-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.explanations-main__item :first-child {
    font-size: 17px;
    font-family: Calibri;
    font-weight: 700;
    line-height: 31px;
    color: var(--bold-title);
}

.explanations-main__item :nth-child(2) {
    font-size: 34px;
    font-family: Calibri;
    font-weight: 700;
    line-height: 30px;
    color: var(--bold-title);
    margin-bottom: 12px;
}

.explanations-main__item :nth-child(3) {
    font-size: 22px;
    font-family: Calibri;
    font-weight: 400;
    line-height: 24px;
    color: var(--lime);
}

.explanations-main__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.explanations-main__item {
    max-width: 270px;
    margin-bottom: 97px;
}

.explanations-main__content_pad_sides {
    padding: 0 5%;
}

.explanations-nav__button {
    max-width: 168px;
    max-height: 40px;
    margin-bottom: 118px;
}

.button__link {
    max-width: 95px;
    display: block;
    font-size: 12px;
    font-family: 'Calibri';
    font-weight: 500;
    color: var(--links-white);
    text-decoration: none;
    background-color: var(--lime);
    text-align: center;
    padding: 13px 38px;
    border-radius: 5px;
}