.swiperWrapper .swiper {
  max-width: 1170px;
  margin-left: 0;
}

.swiperWrapper {
  position: relative;
}

.swiper-navigation {
  position: absolute;
  right: 0;
  top: -20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  gap: 8px;
  z-index: 10;
}

.swiper-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.swiper-slide__image {
  background-color: var(--gray);
  padding: 35px 40px;
  border-radius: 4px;
}

.swiper-slide__title {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  color: var(--standard-black);
  margin: 16px 0 8px 0;
}

.swiper-slide__price {
  display: flex;
  gap: 12px;
  margin-bottom: 8px;
}

.swiper-slide__price-new {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  color: var(--red);
}

.swiper-slide__price-old {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  text-decoration: line-through;
  color: var(--flashsales-slider-price);
}

.swiper-slide__rating {
  display: flex;
  align-items: center;
  gap: 8px;
}

.swiper-slide__rating-count {
  font-size: 14px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  color: var(--flashsales-slider-price);
}

.swiper-button-next,
.swiper-button-prev {
  position: static;
  margin-top: 0;
  width: 46px;
  height: 46px;
  background: var(--gray);
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #000;
}

.swiper-button-prev:after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url("../../icons/flashsale-slider-icon-arrow-left.svg");
  padding: 4px;
}

.swiper-button-next:after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url("../../icons/flashsale-slider-icon-arrow-right.svg");
}

.swiper-slide__widgets {
  position: absolute;
  top: 0.75em;
  right: 0.45em;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.swiper-slide__widgets-favorites {
  display: inline-flex;
  padding: 9px 8px;
  background-color: var(--standard-white);
  border-radius: 100%;
}

.swiper-slide__widgets-toggle {
  padding: 9px 8px;
  background-color: var(--standard-white);
  border-radius: 100%;
}

.swiper-slide__widgets-favIcon {
  max-width: 16px;
  height: 14px;
}

.swiper-slide__widgets-toggleIcon {
  width: 19px;
  height: 14px;
}

.swiper-slide__discount-die {
  position: absolute;
  top: 0.95em;
  left: 0.85em;
  font-size: 12px;
  font-family: Poppins, sans-serif;
  color: var(--standard-white);
  background-color: var(--red);
  padding: 4px 12.4px;
  border-radius: 4px;
}