.flashSales {
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    margin: 160px auto 80px auto;
    box-sizing: border-box;
  }
  
  .flashSalesCaption {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .flashSalesCaptionTab {
    width: 20px;
    height: 40px;
    background-color: var(--red);
    border-radius: 4px;
  }
  
  .flashSalesCaptionText {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: var(--red);
  }
  
  .flashSalesTitle {
    font-size: 36px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: var(--standard-black);
    margin-top: 18px;
    margin-bottom: -12px;
  }
  
  .flashSalesButton {
    display: inline-flex;
    align-self: center;
    width: fit-content;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    color: var(--standard-white);
    text-decoration: none;
    background-color: var(--red);
    padding: 15.5px 49.3px;
    border-radius: 4px;
    margin-top: 60px;
  }

  .flashSalesDivider {
    width: 100%;
    height: 1px;
    background-color: var(--header-border);
    margin-top: 60px;
  }


  