.featuredWrapper {
    max-width: 1170px;
    margin: 140px auto;
}

.featuredDie {
    display: flex;
    align-items: center;
    gap: 10px;
}

.featuredDieImage {
    width: 20px;
    height: 40px;
    background-color: var(--red);
    border-radius: 4px;
}

.featuredDieText {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: var(--red);
}

.featuredTitle {
    font-size: 36px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: var(--standard-black);
    margin: 20px 0 60px 0;
}

.featuredCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 32px 30px;
}

.featuredCardFirst {
    position: relative;
    display: grid;
    align-items: flex-end;
    grid-row: 1/2;
    color: var(--standard-white);
    background-color: var(--standard-black);
    border-radius: 4px;
}

.featuredCardFirstText {
    max-width: 255px;
    position: absolute;
    left: 32px;
    bottom: 32px;
    display: block;
}

.featuredCardThirdText {
    max-width: 255px;
    position: absolute;
    left: 32px;
    bottom: 32px;
    display: block;
}

.featuredCardFourthText {
    max-width: 255px;
    position: absolute;
    left: 32px;
    bottom: 32px;
    display: block;
}

.featuredCardSecond {
    position: relative;
    display: grid;
    justify-items: flex-end;
    align-items: flex-end;
    color: var(--standard-white);
    background-color: var(--standard-black);
    border-radius: 4px;
}

.featuredCardSecondText {
    max-width: 255px;
    position: absolute;
    bottom: 32px;
    left: 32px;
    display: block;
}

.featuredCardThird {
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    color: var(--standard-white);
    background-color: var(--standard-black);
    border-radius: 4px;
}
.featuredCardFourth {
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    color: var(--standard-white);
    background-color: var(--standard-black);
    border-radius: 4px;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(2, 1fr);
    gap: 32px;
}

.gridContainer2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    height: 284px;
}

.featuredCardTitle {
    font-size: 24px;
    font-family: Poppins, sans-serif;
    color: var(--standard-white);
}

.featuredCardDetails {
    font-size: 14px;
    font-family: Poppins, sans-serif;
    line-height: 21px;
    color: var(--standard-white);
    margin: 16px 0;
}

.featuredCardLink {
    font-size: 16px;
    font-family: Poppins, sans-serif;
    text-decoration: none;
    line-height: 24px;
    color: var(--standard-white);
}
.featuredCardLink:hover {
    text-decoration: underline;
}

.featuredCardDetailsPadding {
    font-size: 14px;
    font-family: Poppins, sans-serif;
    line-height: 21px;
    margin: 8px 0;
}

.featuredServices {
    max-width: 943px;
    display: flex;
    justify-content: space-between;
    margin: 140px auto;
}

.featuredService {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.featuredServiceButton {
    max-width: 80px;
    background-color: var(--circle-button-envelope);
    padding: 11px;
    border-radius: 100%;
}

.featuredServiceButtonIcon {
    display: inline-flex;
    background-color: var(--standard-black);
    padding: 9px;
    border-radius: 100%;
}

.featuredServiceName {
    font-size: 20px;
    font-weight: bold;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    line-height: 28px;
    color: var(--standard-black);
    margin: 24px 0 8px 0;
}

.featuredServiceText {
    font-size: 14px;
    font-family: Poppins, sans-serif;
    line-height: 21px;
    color: var(--standard-black);
}