.featuredWrapper {
    max-width: 1170px;
    margin: 140px auto;
}

.featuredDie {
    display: flex;
    align-items: center;
    gap: 10px;
}

.featuredDieImage {
    width: 20px;
    height: 40px;
    background-color: var(--red);
    border-radius: 4px;
}

.featuredDieText {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: var(--red);
}

.featuredTitle {
    font-size: 36px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: var(--standard-black);
    margin: 20px 0 60px 0;
}

.featuredCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 32px 30px;
}

.featuredCardsExample1 {
    display: grid;
    align-items: flex-end;
    grid-row: 1/2;
    color: var(--standard-white);
    background-color: var(--standard-black);
    border-radius: 4px;
}
.featuredCardsExample2 {
    display: grid;
    justify-items: flex-end;
    align-items: flex-end;
    color: var(--standard-white);
    background-color: var(--standard-black);
    border-radius: 4px;
}
.featuredCardsExample3 {
    display: grid;
    justify-items: center;
    align-items: center;
    color: var(--standard-white);
    background-color: var(--standard-black);
    border-radius: 4px;
}
.featuredCardsExample4 {
    display: grid;
    justify-items: center;
    align-items: center;
    color: var(--standard-white);
    background-color: var(--standard-black);
    border-radius: 4px;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(2, 1fr);
    gap: 32px;
}

.gridContainer2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    height: 284px;
}