* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

.header {
    background-image: url('images/header-background.jpg');
    background-repeat: no-repeat;
    height: fit-content;
}

.header-container {
    width: 80%;
}

.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.header-container_pos_cnt {
    height: auto;
    margin: 0 auto;
    padding-top: 42px;
}

.header-menu__logo {
    font-size: 26px;
    font-family: Calibri;
    font-weight: 1000;
    color: #ffffff;
    user-select: none;
}

.header-menu__logo:hover {
    color: brown;
    transition: 4s;
}

.header-menu__links {
    width: 64%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.header-menu__link {
    font-size: 20px;
    font-family: Calibri;
    font-weight: 400;
    color: rgb(250, 217, 155);
    text-decoration: none;
}

.header-menu__link:hover {
    color: #ffffff;
    transition: 0.6s;
}

.header-menu__widgets {
    width: 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 55px;
}

.header-promo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header-promo_pos_cnt {
    width: 82%;
    margin: 160px auto 0 auto;
}

.header-promo :first-child {
    font-size: 38px;
    font-family: Calibri;
    color: #ffffff;
}

.header-promo :nth-child(2) {
    font-size: 140px;
    font-family: Calibri;
    color: #ffffff;
}

.header-promo :nth-child(3) {
    max-width: 590px;
    font-size: 22px;
    font-family: Calibri;
    color: #ffffff;
}

.header-promo__nav {
    max-width: 450px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 190px;
}

.header-promo__nav-btn {
    height: 40px;
}

.header-promo__nav-btn .header-promo__nav-link {
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    margin-top: 0;
    padding: 0;
}

.header-promo__nav-btn:first-child {
    max-width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: repeating-linear-gradient(320deg, #720f75a1, rgb(157 84 176) 4%, rgb(194, 93, 207) 6%);
    border: 4px solid #ffffff;
    border-radius: 15px;
    padding: 5px 41px;
}

.header-promo__nav-btn:nth-child(3) { 
    max-width: 50px;
    max-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 11px 19px 5px 19px;
    border-radius: 25px;
}

.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.products_content_pos {
   max-width: 1290px;
   margin: 130px auto 0 auto;
}

.products__title {
    font-size: 49px;
    font-family: Calibri;
    font-weight: 600;
    text-align: center;
    margin: 0 auto 26px auto;
}

.products__adv-text {
    max-width: 730px;
    font-size: 20px;
    font-family: Calibri;
    color: #bdb8b8;
    text-align: center;
    margin-bottom: 60px;
}

.products-list {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 28px;
    margin: 0 auto 95px auto;
    border-bottom: 1px solid lightgray;
}

.products-list__item-name {
  justify-content: start;
  align-items: flex-start;
  font-size: 18px;
  font-family: Calibri;
  font-weight: 600;
  color: #c4c1c1;
}

.products-list__item {
  display: flex;
  align-items: center;
  flex: none;
  flex-grow: 0;
  color: #000000;
  list-style-type: none;
}

.products-list__item :hover {
  cursor: pointer;
}

.products-list__item img {
   width: fit-content;
   padding: 0;
  }

  .products-list__item input[type="radio"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  
  .products-list__item label {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
    gap: 10px;
  }
  
  .products-list__item input[type="radio"]:active + label {
    cursor: pointer;
    padding: 0 66px 0 0;
  }
  
  .products-list__item input[type="radio"] + label {
    border-bottom: 3px solid #ffffff;
    padding: 0 66px 0 0;
  }

  .products-list__item input[type="radio"]:checked + label {
    align-items: center;
    cursor: pointer;  
    padding-bottom: 3px;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #b409b9;
    padding: 0 66px 0 0;
  }

  .products-list__item input[type="radio"]:checked + label span {
    color: #000000;
  }

  .products-samples {
    max-width: 1150px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 30px;
  }

  .products-sample {
    max-width: 240px;
    display: flex;
    flex-direction: column;
    padding: 22px 23px;
    gap: 45px;
    border: 1px solid rgb(236, 229, 229);
    border-radius: 15px;
    margin-bottom: 11px;
  }

  .products-sample__img {
    align-self: center;
    width: 100%;
  }

  .products-sample__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }

  .products-sample__info {
   justify-content: space-between;
  }

  .products-sample__name {
    font-size: 22px;
    font-family: Calibri;
    font-weight: 800;
  }

  .products-sample__price {
    font-size: 19px;
    font-family: Calibri;
    font-weight: 600;
    color: #bdb8b8;
  }

  .products-sample__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #720f75a1;
    border-radius: 50px;
  }

  .products-sample__link {
    font-size: 25px;
    font-weight: 800;
    text-decoration: none;
    color: #ffffff;
  }
  
  .products-details-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: repeating-linear-gradient(320deg, #720f75a1, rgb(157 84 176) 4%, rgb(194, 93, 207) 6%);
    border: 4px solid #ffffff;
    border-radius: 15px;
    padding: 5px 39px;
    box-shadow: 0px 11px 16px 2px lightgrey;
  }

  .products-details-btn_fl_props {
    max-width: 180px;
    margin: 55px auto 60px auto;
  }

  .products-sample__more-link {
    font-size: 22px;
    font-weight: 400;
    font-family: Calibri;
    text-decoration: none;
    padding: 7px 16px;
    color: #ffffff;
  }

.liquid-physics {
  background-color: #f9f9f9;
}


  .liquid-physics_pos_axs {
    max-width: 1121px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 60px auto 85px auto;
    padding-bottom: 60px;
  }

.liquid-physics__item {
    flex: 1;
    justify-content: center;
    padding-top: 50px;
  } 

  .liquid-physics :first-child :first-child{
    max-width: 600px;
    font-size: 41px;
    font-family: Calibri;
    font-weight: 600;
  }

  .liquid-physics :nth-child(2) {
    font-size: 20px;
    font-family: Calibri;
    color: #b0b0b0;
    margin-top: 15px;
  } 

  .vape-flavours {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .vape-flavours_pos_axs {
    max-width: 1121px;
    margin: 0 auto 70px auto;
  }
  
  .vape-flavours__item :first-child span {
    max-width: 600px;
    font-size: 41px;
    font-family: Calibri;
    font-weight: 600;
  }

  .vape-flavours__item :nth-child(2) {
    max-width: 450px;
    font-size: 20px;
    font-family: Calibri;
    line-height: 25px;
    color: #c2bfbf;
  }

  .vape-flavours .vape-flavours__item :first-child {
    display: flex;
    justify-content: flex-start;
  }

  .vape-flavours__item :nth-child(4) div {
    max-width: 120px;
  }

 .vape-flavours-samples {
  display: flex;
  flex-direction: row;
 }

 .vape-flavours-samples_el_space {
  gap: 30px;
  margin: 25px 0 45px 0;
 }

 .vape-flavours-samples__item {
  max-width: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 14px 7px 14px;
  border: 1px solid rgb(245, 228, 228);
  border-radius: 15px;
 }

 .vape-flavours-samples__item :nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
 }

 .vape-flavours-samples__item :nth-child(2) {
  font-size: 16px;
  font-family: Calibri;
  text-align: center;
 }

 .vape-flavours-samples__item img  {
  width: max-content;
 }

 .usage {
  background-color: #f9f9f9;
}

.usage-container {
  display: flex;
  flex-direction: row;
}

.usage_pos_axs {
    max-width: 1169px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 60px auto 85px auto;
    padding: 83px 060px;
    gap: 105px;
}

.usage_any_props {
  max-width: 120px;
  margin: 50px auto 60px 0;
}

.usage-statements {
  max-width: 550px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  gap: 30px;
}

.usage-statements__item {
  max-width: 180px;
  padding: 18px 10px 20px 24px;
  background-color: #ffffff;
  border: 1px solid #eae1e1;
  border-radius: 25px;
}

.usage-statements__title {
  max-width: 180px;
  font-size: 18px;
  font-family: Calibri;
  font-weight: 600;
  margin: 5px 0 10px 0;
}

.usage-statements__text {
  max-width: 170px;
  font-family: Calibri;
  color: #c2bfbf;
}


.usage-warning {
  flex: 1;
}

.usage-warning__title {
  font-size: 42px;
  font-family: Calibri;
  font-weight: 600;
}

.usage-warning__text {
  font-size: 21px;
  font-family: Calibri;
  color: #c2bfbf;
  font-weight: 400;
  margin-top: 20px;
}

.feedback-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url('./images/smoking.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
}

.feedback-container_pos_axs {
  max-width: 1230px;
  height: 42vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 128px 0 47px 220px;
  margin: 110px auto 30px auto;
}

.feedback__title {
  font-size: 55px;
  font-family: Calibri;
  font-weight: 600;
  color: #ffffff;
}

.feedback__text {
  max-width: 469px;
  font-size: 21px;
  font-family: Calibri;
  color: #ffffff;
  margin: 17px 0 35px 0;
}

.feedback__form {
  max-width: 485px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  padding: 6px 0;
  border-radius: 10px;
}

.feedback__field {
  width: 293px;
  height: 35px;
  font-size: 18px;
  font-family: Calibri;
  color: #c4c1c1;
  padding: 0 0 0 5px;
  border: 1px solid #ffffff;
}

.feedback__field::placeholder {
  color: #c4c1c1;
}

.feedback__icon {
  padding: 5px 0 0 15px;
}

.feedback_gen_props {
    padding: 5px 15px;
    box-shadow: none;
    margin: 0;
}

.hr {
  /* width: 62%; */
  border-bottom: 2px solid #e9e2e2;
  margin: 0 auto 80px auto;
}

.nav-extended-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.nav-extended_pos_axs {
  max-width: 1170px;
  margin: 0 auto;
}

.nav-extended__logo {
  font-size: 43px;
  font-family: Calibri;
  font-weight: 1000;
  color: #f2b33f;
}

.nav-extended__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 105px;
}

.nav-extended__links_com_props {
  max-width: 800px;
}

.nav-extended__column {
  display: flex;
  flex-direction: column;
}

.nav-extended__column :first-child {
  font-size: 20px;
  font-family: Calibri;
  font-weight: 600;
  color: #000000;
  margin-bottom: 25px;
}

.nav-extended__link {
  font-size: 17px;
  font-family: Calibri;
  text-decoration: none;
  color: #cbc6c6;
  margin-bottom: 20px;
}

.footer {
  background-color: #fccb33;
}

.footer-container_pos_props {
  max-width: 1180px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 80px auto 0 auto;
  padding: 20px 0 25px 0;
}

.footer__logo {
  font-size: 21px;
  font-family: Calibri;
  font-weight: 600;
  color: #ffffff;
}

.footer__copyright {
  font-size: 22px;
  font-family: Calibri;
  color: #ffffff;
}

.hr__wrapper {
  max-width: 1170px;
  margin: 0 auto;
}