:root {
 --basic-white: #ffffff;
 --light-green: #36b864;
 --first-black: #111d15;
 --second-black: #4d4d4d;
 --third-black: #666666;
 --first-grey: #83a790;
 --second-grey: #f5f4f4;
 --third-grey: #fbfbfb;
}