@font-face {
    font-weight: 100;
    font-family: BeVietnamPro-Regular;
    src: url("../fonts/BeVietnamPro-Regular.woff");
  }
  
  @font-face {
    font-weight: 300;
    font-family: BeVietnamPro-Light;
    src: url("../fonts/BeVietnamPro-Light.woff");
  }

  @font-face {
    font-weight: 500;
    font-family: BeVietnamPro-SemiBold;
    src: url("../fonts/BeVietnamPro-SemiBold.woff");
  }
  
  @font-face {
    font-weight: 600;
    font-family: BeVietnamPro-Bold;
    src: url("../fonts/BeVietnamPro-Bold.woff");
  }


  @font-face {
    font-weight: 100;
    font-family: Poppins-Regular;
    src: url("../fonts/Poppins-Regular.woff");
  }
  
  @font-face {
    font-weight: 300;
    font-family: Poppins-Light;
    src: url("../fonts/Poppins-Light.woff");
  }

  @font-face {
    font-weight: 500;
    font-family: Poppins-SemiBold;
    src: url("../fonts/Poppins-SemiBold.woff");
  }
  
  @font-face {
    font-weight: 600;
    font-family: Poppins-Bold;
    src: url("../fonts/Poppins-Bold.woff");
  }


  
  @font-face {
    font-weight: 100;
    font-family: Lato-Regular;
    src: url("../fonts/Lato-Regular.ttf");
  }

  @font-face {
    font-weight: 100;
    font-family: Lato-Regular;
    src: url("../fonts/Lato-Italic.ttf");
  }
  
  @font-face {
    font-weight: 600;
    font-family: Lato-Bold;
    src: url("../fonts/Lato-Bold.ttf");
  }