@import "tailwindcss";
@import "./colors.css";
@import "./fonts.css";

@tailwindcss/preflight base;
@tailwind utilities;

:root {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
    font-family: BeVietnamPro, sans-serif;
}

@layer utilities {
  .bg-card-bg {
    background-image: url('./src/img/feedback-card-bg.webp');
    background-position: center;
    background-size: cover;
  }
}

@layer utilities {
  .contacts-box-shadow {
    box-shadow: 1px 1px 3px 0 lightgray;
  }
}





